<div class="main edit">
  <form action="{{formAction}}" method="post" class="pure-form">
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <h1 class="tagline">Invite new user to join {{organisation.name}}</h1>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <input name="email" type="email" class="pure-input-1" placeholder="{{__ "Invitee Work Email"}}" value="{{email}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          {{> ../form_errors}}
          <input type=submit class="pure-button button-success save-input scale" value="Invite"></input>
        </div>
      </div>
    </div>
  </form>
</div>
