{{#if search}}
    {{#unless usePremiumFeatures}}
        <div id="banner_on_free">
            <div class="banner">
                <p>{{{__ "You are on a free Wingzy, you can only do 1000 searches per month. To upgrade to premium, <a href='mailto:premium@wingzy.io'>contact&nbsp;us</a> !"}}}</p>
            </div>
        </div>
    {{/unless}}
{{/if}}
