{{#if messages.success}}
  <div class="success-flash">
    <div>
      <i class="fa fa-thumbs-up" aria-hidden="true"></i>
    </div>
    {{#messages.success}}
    <p>{{this}}</p>
    {{/messages.success}}
  </div>
{{/if}}
