{{#if errors}}
<ul class="errors">
{{#errors}}
  <li><i class="fa fa-hand-paper-o" aria-hidden="true"></i> {{msg}}</li>
{{/errors}}
</ul>
{{/if}}

{{#if warning}}
    <ul class="errors">
        {{#warning}}
            <li><i class="fa fa-globe" aria-hidden="true"></i> {{msg}}</li>
        {{/warning}}
    </ul>
{{/if}}
