{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 12:12
@Copyright: Clément Dietschy 2017
}}
<header>
  <div class="pure-g">
    <a class="logo pure-u-md-1-5" href="https://lenom.io">
      <img src="/lenom.svg">
    </a>
    <div id="search-box" class="pure-u-1-1 pure-u-md-3-5">
      <a class="logo-small" href="/"><img class="" src="/lenom88.png"></a>
    </div>
    {{> menu}}
  </div>
</header>
