{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 01:52
@Copyright: Clément Dietschy 2017
}}
<header>
  <div class="pure-g">
    <a class="pure-u-md-1-6" href="/">
      <div class="logo">
        <img class="pure-img" src="/lenom.svg">
      </div>
    </a>
    <div class="pure-u-1 pure-u-md-4-6">
      <div id="search">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>
    {{> menu}}
  </div>
</header>
