{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 09-05-2017 01:53
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g home-bottom">
  <div class="pure-u-1-3 pure-u-md-1-6">
    <div class="grid-box">
      <a href="https://demo.lenom.io/?q=%40hr%20intern%20jo&hPP=50&idx=world&p=0&is_v=1"><img class="pure-img" src="/images/lenom_mobile.png"/></a>
    </div>
  </div>
  <div class="demo pure-u-2-3 pure-u-md-3-6">
    <div class="grid-box">
        <p class="reward"><a href="https://demo.lenom.io/?q=%40hr%20intern%20jo&hPP=50&idx=world&p=0&is_v=1"><i class="fa fa-question-circle" aria-hidden="true"></i></a></p>
        <h2>Discover</h2>
        <p>Discover the <a href="https://demo.lenom.io/?q=%40hr%20intern%20jo&hPP=50&idx=world&p=0&is_v=1">demo directory</a> where Johnny Depp is a HR intern!</p>
    </div>
  </div>
    <div class="twitter pure-u-1-1 pure-u-md-2-6">
      <div class="grid-box">
        <p class="reward"><a href="https://twitter.com/lenom_io"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
        <h2>Follow us</h2>
        <p>Support us by following <a href="https://twitter.com/lenom_io">@lenom_io</a> on twitter.</p>
      </div>
    </div>
</div>
