{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 22-05-2017 11:32
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g home-bottom">
  <div class="pure-u-1-3 pure-u-md-1-6">
    <div class="grid-box">
      <a href="https://demo.lenom.io/"><img class="pure-img" src="/images/lenom_mobile.png"/></a>
    </div>
  </div>
  <div class="demo pure-u-2-3 pure-u-md-3-6">
    <div class="grid-box">
        <p class="reward"><a href="https://demo.lenom.io/"><i class="fa fa-eye" aria-hidden="true"></i></a></p>
        <h2>Experience</h2>
        <p>Explore the <a href="https://demo.lenom.io/">demo organisation</a><br> where Johnny Depp is an HR intern!</p>
    </div>
  </div>
    <div class="twitter pure-u-1-1 pure-u-md-2-6">
      <div class="grid-box">
        <p class="reward"><a href="https://twitter.com/lenom_io"><i class="fa fa-twitter" aria-hidden="true"></i></a></p>
        <h2>Twitter</h2>
        <p>Support us! Follow <a href="https://twitter.com/lenom_io">@lenom_io</a></p>
      </div>
    </div>
</div>
