{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 01:52
@Copyright: Clément Dietschy 2017
}}
{{#if impersonator}}
  <p class="impersonate">{{impersonator.email}} is impersonating {{user.email}}. <a href="/superadmin/depersonate/">Depersonate</a></p>
{{/if}}
