{{!
@Author: Clément Dietschy <clement>
@Date:   12-06-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 23-06-2017 12:01
@Copyright: Clément Dietschy 2017
}}
{{#if intro}}
<a id="start-intro" title="Help tutorial" class="fa fa-question-circle" aria-hidden="true" onclick="startIntro()"></a>
<a id="join-beta" title="Join the private beta" class="fa fa-play-circle" aria-hidden="true" href="https://lenom.io"></a>
<script src="https://cdn.jsdelivr.net/intro.js/2.5.0/intro.min.js"></script>
<script src="/javascripts/intro.js"></script>
{{/if}}
