{{!
@Author: Clément Dietschy <clement>
@Date:   29-04-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 29-04-2017 04:12
@Copyright: Clément Dietschy 2017
}}
<div onclick="togglePanel()" id="left-panel-opener">
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
</div>
<div id="left-panel">
  <div onclick="togglePanel()" id="left-panel-closer">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div id="structure">
  </div>
  <div id="within">
  </div>
  <div id="types">
  </div>
  <div id="clear-all">
  </div>
  <footer>
    Prototyped with <a href="https://www.youtube.com/watch?v=Tvu3xiFmfDU"><i class="fa fa-heart" aria-hidden="true"></i></a> by <a href="https://twitter.com/bedhed1">bedhed</a>.
  </footer>
</div>
