{{! WARNING DUPLICATED IN AUTOCOMPLETE JS : addLinkToCloud() !!!}}
<li class="link list-group-item">
  <a class="js-remove">x</a>
  <input type="hidden" name="links" value="{{value}}" />
  <i class="fa {{linkIcon this}}" aria-hidden="true"></i>
  {{value}}
</li>
