{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 02-04-2017 11:19
@Copyright: Clément Dietschy 2017
}}
<div>
  {{#if user}}
  <a href="/compose/me" class="pure-menu-link">Me</a>
  <a href="/logout" class="pure-menu-link">Logout</a>
  {{else}}
  <a href="/google/login" class="pure-menu-link"><i class="fa fa-google" aria-hidden="true"></i> Login</a>
  {{/if}}
</div>
