{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 02-04-2017 11:19
@Copyright: Clément Dietschy 2017
}}
<div>
  {{#if user}}
  <a class="logout" href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
  {{else}}
  <a class="login" href="/google/login"><i class="fa fa-google" aria-hidden="true"></i> Login</a>
  {{/if}}
</div>
