<script type="text/html" id="noone-template">
  <div class="pure-g noone">
    <div class="pure-u-1">
      <div class="grid-box">
        <h2>{{__ "There is nobody here yet"}}</h2>
      </div>
    </div>
  </div>
  <div class="pure-g noone">
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="grid-box">
        <img src="/images/cat.png">
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2">
      <div class="grid-box">
        <p>{{__ "If you know or find coworkers who could be here, why not invite them on Wingzy?"}}</p>
        <p><a class="pure-button scale" href="{{url 'invite' organisation.tag}}">{{__ "Invite Coworker"}}</a></p>
      </div>
    </div>
  </div>
</script>
