{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 01:52
@Copyright: Clément Dietschy 2017
}}
<script type="text/html" id="toggle-template">
  {{{{raw}}}}
  {{name}}({{count}})
  {{{{/raw}}}}
</script>

<div id="subheader">
  <div class="pure-g">
    <div class="pure-u-toggle-panel pure-u-1-6">
      <div>
        <a onclick="togglePanel()">
          <i class="fa fa-tree" aria-hidden="true"></i><span class="toggle-text">Show Tree</span>
        </a>
      </div>
    </div>
    <div class="pure-u-4-6">
      <span class="types-header">
        Filter:
      </span>
      <div id="types">
      </div>
    </div>
  </div>
</div>
