<script type="text/html" id="toggle-template">
  {{{{raw}}}}
  {{name}}({{count}})
  {{{{/raw}}}}
</script>

<div id="subheader">
  <div class="pure-g">
    <div class="pure-u-1-6">
    </div>
    <div class="pure-u-5-6">
      <div id="types">
      </div>
    </div>
  </div>
</div>
