{{! Careful to check edit_script where data-crop is changed upon type toggle (and the scripts for uploadcare are there too)}}
<div id="uploadcare4hashtag">
  <input type="hidden" role="uploadcare-uploader" name="picture4hashtag[url]" data-crop="340x180 upscale" data-image-shrink="1024x1024" data-images-only="true" value="{{uploadCarePictureUrl}}"/>
</div>
<div id="uploadcare">
  <input id="uploadcare" type="hidden" role="uploadcare-uploader" name="picture[url]" data-crop="180x180 upscale" data-image-shrink="1024x1024" data-images-only="true"  value="{{uploadCarePictureUrl}}"/>
</div>
