{{! Careful to check edit_script where data-crop is changed upon type toggle (and the scripts for uploadcare are there too)}}
<div id="uploadcare4team">
  <input type="hidden" role="uploadcare-uploader" name="picture4team[url]" data-crop="320x160 upscale" data-image-shrink="1024x1024" data-images-only="true" value="{{uploadCarePictureUrl}}"/>
</div>
<div id="uploadcare">
  <input id="uploadcare" type="hidden" role="uploadcare-uploader" name="picture[url]" data-crop="160x160 upscale" data-image-shrink="1024x1024" data-images-only="true"  value="{{uploadCarePictureUrl}}"/>
</div>
