<script>
function introSteps() {
  return [
    {
      element: document.querySelector('#search'),
      intro: "<h2>Find</h2><p>Lenom searches through all this within milliseconds.</p><p>Try <a onclick=\"setSearch('HR intern in korea')\">HR intern in Paris</a>.</p>",
      position: 'bottom-middle-aligned'
    },
    {
      intro: "<h2><strong>You are Awesome</strong></h2><p><img src='/images/awesome.gif' class='pure-img'></p><p>Thank you for sharing! Now, do you want to learn how Lenom works?</p>"
    }
  ];
};
</script>
