{{!
@Author: Clément Dietschy <clement>
@Date:   27-07-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 27-07-2017 05:38
@Copyright: Clément Dietschy 2017
}}

<p class="credit"><a href="http://www.etienneappert.fr/">Etienne Appert</a> - <a href="http://www.reinventingorganizations.com/">Reinventing organizations</a></p>
