{{!
@Author: Clément Dietschy <clement>
@Date:   17-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 19-05-2017 12:57
@Copyright: Clément Dietschy 2017
}}

<header>
{{#if search}}
<div class="pure-g search-on">
  <a class="pure-u-logo pure-u-md-1-6" href="{{homeUrl organisation}}">
    <div>
      <img class="pure-img" src="/lenom.svg">
    </div>
  </a>
  <div class="pure-u-search pure-u-1 pure-u-md-2-3">
    <div id="search">
      <i class="fa fa-search" aria-hidden="true"></i>
      <a id="clear-search" class="fa fa-times" aria-hidden="true"></a>
    </div>
  </div>
  <div class="pure-u-menu pure-u-md-1-6">
    {{> menu_home}}
  </div>
</div>
{{else}}
<div class="pure-g">
  <a class="pure-u-logo pure-u-1-3 pure-u-md-1-6" href="{{homeUrl organisation}}">
    <div class="logo">
      <img class="pure-img" src="/lenom.svg">
    </div>
  </a>
  <div class="pure-u-menu pure-u-2-3 pure-u-md-5-6">
    {{> menu_home}}
  </div>
</div>
{{/if}}
</header>
