nav, .navbar-fixed{
  height: 90px !important;
  line-height: 90px !important;
  background-color: white !important;
  max-width: 100vw;
}

nav a {
  color: black !important;
}

nav .brand-logo img {
  margin-top: 16px;
  margin-left: 16px;
  height: 58px;
}
.brand-logo {
  max-height: 90px;
}

.signin-small {
  float: right;
  margin-right: 16px;

}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
      left: 0;
      -webkit-transform: none;
      transform: none;
  }
}