
.howitworks-subheader, .howitworks-subheader .subtitle  {
  position: relative;
  height: 104px;
}
.howitworks-subheader .subtitle span {
  position: absolute;
  bottom:0;
}

.big-number{
  color: #FF0018;
  font-size: 8rem;
  font-weight: 600;
  line-height: 6.5rem;
  float: right;
}

#howitworks ul {
  padding-left: 20px;
}
#howitworks ul li{
  list-style-type: disc;
  line-height: 32px;
}

.rotate-right {
  transform: rotateZ(10deg);
  float: right;
}
.rotate-left {
  transform: rotateZ(-10deg);
  float: left;
}

.mobile-screen {
  height: 500px;
  /* width: 500px; */
}

.desktop-screen {
  width: 500px;
}

.desktop-screen-view-right {
  width: 463px;
  height: 259px;
  left: 30px;
  top: 19px;
}

.mobile-screen-view-left, .mobile-screen-view-right {
  height: 360px !important;
  width: 208px !important;
}

.mobile-screen-view-right {
  right: 37px;
  top: 76px;
}

.mobile-screen-view-left {
  left: 37px;
  top: 76px;
}

@media screen and (max-width: 600px)  {
  .howitworks-subheader, .howitworks-subheader .subtitle {
    height: 84px;
  }
  .desktop-screen, .desktop-screen-view-right {
    width: 100%;
  }
}

@media screen and (max-width: 992px)  {
  .rotate-left, .rotate-right, .desktop-screen, .desktop-screen-view-right{
    transform: translateX(-50%);
    float: initial;
    position: relative;
    left: 50%;
  }
}