#landing{
  top:0;
  width: 100%;
  background-color: #2b2d3c;
}

#tagline {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  text-transform: uppercase;
}

#subtagline {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

#tagline strong {
  color: #FF0018;
  font-weight: 800;
}

@media screen and (max-width: 600px) {

  #landing {
    height: initial;
  }

  #tagline {
    font-size: 2rem;
    line-height: 2.5rem;
  }

}