#landing{
  top:0;
  width: 100%;
  background-color: #2b2d3c;
}

#tagline {
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 4rem;
  text-transform: uppercase;
}
#tagline strong {
  color: #FF0018;
  font-weight: 800;
  font-size: 4rem;
}

#tagline span {
  font-weight: 500;
  font-size: 2rem;
  line-height: initial;
}

@media screen and (max-width: 600px) {

  #landing {
    height: initial;
  }

  #tagline {
    font-size: 2rem;
    line-height: 2.5rem;
  }

}