.backline {
  position: absolute;
  width: 65%;
  height:0;
  border-bottom: 1px solid rgba(94, 101, 153, 0.1) ;
  top: 50px;
  left:0;
  right:0;
  margin:auto;
  z-index: -1;
}

#methodo img {
  height: 100px;
}


.margin16 {
  margin-top: 16px;
  margin-bottom: 16px;
}