
.howitworks-subheader, .howitworks-subheader .subtitle  {
  position: relative;
  height: 104px;
}
.howitworks-subheader .subtitle span {
  position: absolute;
  bottom:0;
}

.big-number{
  color: #FF0018;
  font-size: 8rem;
  font-weight: 600;
  line-height: 6.5rem;
  float: right;
}

#howitworks ul {
  padding-left: 20px;
}
#howitworks ul li{
  list-style-type: disc;
  line-height: 32px;
}

.rotate-right {
  transform: rotateZ(10deg);
  float: right;
}
.rotate-left {
  transform: rotateZ(-10deg);
  float: left;
}

@media screen and (max-width: 600px)  {
  .howitworks-subheader, .howitworks-subheader .subtitle {
    height: 84px;
  }
}

@media screen and (max-width: 992px)  {
  .rotate-left, .rotate-right{
    transform: translateX(-50%);
    float: initial;
    position: relative;
    left: 50%;
  }
}