<!--
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 16-03-2017
@Copyright: Clément Dietschy 2017
-->

<h1>Please login !</h1>
<h2>{{error.status}}</h2>
<p><a href="{{loginUrl}}">Login with Google to continue</a></p>
