{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 03:12
@Copyright: Clément Dietschy 2017
}}
<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-5 pure-u-md-1-5">
      <h1 class="reward"><i class="fa fa-lock" aria-hidden="true"></i></h1>
    </div>
    <div class="pure-u-4-5 pure-u-md-2-5">
      <h2>Forbidden</h2>
      <p>The account you are using does not belong to this organisation.</p>
      <h3><i class="fa fa-quote-left" aria-hidden="true"></i> You shall not pass. <i class="fa fa-quote-right" aria-hidden="true"></i></h3>
      <p class="reference"><a href="https://www.youtube.com/watch?v=mJZZNHekEQw"><i class="fa fa-video-camera" aria-hidden="true"></i> Gandalf the Grey</a></p>
      <p><a class="pure-button" href="{{loginUrl}}">Try login with another Google Account</a></p>
    </div>
    <div class="pure-u-1-1 pure-u-md-2-5">
      <h1 class="reward error-code">{{error.status}}</h1>
    </div>
  </div>
</div>
