<!--
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 16-03-2017
@Copyright: Clément Dietschy 2017
-->

<h1>No Organisation</h1>
<h2>{{error.status}}</h2>
<p>Your account does not belong to any Organisation. We cannot display any Directory.</p>
<p><a href="{{loginUrl}}">Try login with another Google account</a></p>
