{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 05-04-2017 11:27
@Copyright: Clément Dietschy 2017
}}
<div class="pure-g">
  <div class="pure-u-1-5 pure-u-md-1-5">
    <h1 class="reward"><i class="fa fa-coffee" aria-hidden="true"></i></h1>
  </div>
  <div class="pure-u-4-5 pure-u-md-2-5">
    <h2>How sad...</h2>
    <p>Your account does not belong to any Organisation. We cannot display any Directory.</p>
    <h3><i class="fa fa-quote-left" aria-hidden="true"></i> I'm a poor lonesome cowboy <i class="fa fa-quote-right" aria-hidden="true"></i></h3>
    <p class="reference"><a href="https://www.youtube.com/watch?v=1EpfwaSPBB8"><i class="fa fa-video-camera" aria-hidden="true"></i> Lucky Luke theme song</a></p>
    <p><a class="pure-button" href="{{loginUrl}}">Login with another Google account</a></p>
  </div>
  <div class="pure-u-1-1 pure-u-md-2-5">
    <h1 class="reward error-code">{{status}}</h1>
  </div>
</div>
