{{!
@Author: Clément Dietschy <bedhed>
@Date:   16-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 02-04-2017 11:19
@Copyright: Clément Dietschy 2017
}}
<div id="search-results">
</div>
<div id="pagination-container">
</div>
{{> hit_template}}
{{> noone_template}}
<script>
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
</script>
<script src="javascripts/description.js"></script>
<script src="javascripts/index.js"></script>
