{{!
@Author: Clément Dietschy <bedhed>
@Date:   16-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 05-04-2017 09:32
@Copyright: Clément Dietschy 2017
}}
<div id="left-panel">
  <div id="types">
  </div>
  <div id="teams">
  </div>
  <div id="hashtags">
  </div>
  <div id="clear-all">
  </div>
</div>
<div id="search-results">
</div>
{{> hit_template}}
{{> noone_template}}
<script>
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
</script>
<script src="javascripts/index.js"></script>
