{{!
@Author: Clément Dietschy <bedhed>
@Date:   16-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 05-04-2017 06:06
@Copyright: Clément Dietschy 2017
}}
<div id="search-results">
</div>
{{> hit_template}}
{{> noone_template}}
<script>
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
</script>
<script src="javascripts/index.js"></script>
