{{!
@Author: Clément Dietschy <bedhed>
@Date:   16-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 10-04-2017 11:57
@Copyright: Clément Dietschy 2017
}}
<div onclick="togglePanel()" id="left-panel-opener">
  <i class="fa fa-chevron-right" aria-hidden="true"></i>
</div>
<div id="left-panel">
  <div onclick="togglePanel()" id="left-panel-closer">
    <i class="fa fa-chevron-left" aria-hidden="true"></i>
  </div>
  <div id="structure">
  </div>
  <div id="within">
  </div>
  <div id="types">
  </div>
  <div id="clear-all">
  </div>
  <footer>
    Prototyped with <a href="https://www.youtube.com/watch?v=Tvu3xiFmfDU"><i class="fa fa-heart" aria-hidden="true"></i></a> by <a href="https://twitter.com/bedhed1">bedhed</a>.
  </footer>
</div>
<div class="main org-{{organisation.tag}}" id="search-results">
</div>
{{> hit_template}}
{{> noone_template}}
<script>
  var algoliaPublicKey = {{{json algoliaPublicKey}}};
  var isAdmin = {{{json isAdmin}}};
  var myRecordId = {{{json myRecordId}}};
</script>
<script src="/javascripts/index.js"></script>
