<!--
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 15-03-2017
@Copyright: Clément Dietschy 2017
-->

<h1>{{message}}</h1>
<h2>{{error.status}}</h2>
<pre>{{error.stack}}</pre>
