{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 26-06-2017 07:15
@Copyright: Clément Dietschy 2017
}}
<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <h1 class="tagline">{{__ "Where Coworkers Find Each Other"}}</h1>
    </div>
  </div>
  {{> home_triptic}}
  {{> home_bottom}}
</div>
