<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <h2>{{title}}</h2>
        <p>{{{details}}}</p>
        {{#if content}}
        <pre>{{json content}}</pre>
        {{/if}}
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <img class="pure-img" src="/images/cat.png">
      </div>
    </div>
  </div>
</div>
