{{!
@Author: Clément Dietschy <bedhed>
@Date:   09-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 06-04-2017 03:13
@Copyright: Clément Dietschy 2017
}}

<div class="main">
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>{{title}}</h2>
      <p>{{details}}</p>
      <pre>{{json content}}</pre>
    </div>
  </div>
</div>
