<div class="main edit">
  <form action="{{formAction}}" method="post" class="pure-form">
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          {{> form_successes}}
          <h1>{{__ 'Invite coworker to join'}}</h1>
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          {{> form_errors}}
          <input name="email" type="email" class="pure-input-1" placeholder="{{__ "Invitee Work Email"}}" value="{{email}}">
        </div>
      </div>
    </div>
    <div class="pure-g">
      <div class="pure-u-1">
        <div class="grid-box">
          <input type=submit class="pure-button button-success save-input scale" value="Invite"></input>
        </div>
      </div>
    </div>
  </form>
  <div class="pure-g">
    <div class="pure-u-1">
      <div class="grid-box">
        <img class="pure-img" src="/images/cat.png">
      </div>
    </div>
  </div>
</div>
