{{!
@Author: Clément Dietschy <bedhed>
@Date:   15-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 23-06-2017 11:57
@Copyright: Clément Dietschy 2017
}}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>{{title}}</title>

    <link rel="icon" type="image/png" href="/lenom.png"/>

    <link rel="stylesheet" href="//cdn.jsdelivr.net/g/pure@0.6.2(base-min.css+grids-core-min.css+buttons-min.css+forms-min.css)">

    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/stylesheets/grid-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
        <link rel="stylesheet" href="/stylesheets/grid.css"/>
    <!--<![endif]-->


    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.css"/>
  	<script src="https://cdn.jsdelivr.net/instantsearch.js/1/instantsearch.min.js"></script>

    <link  rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400"/>
    <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">

    <script src="/javascripts/utils.js"></script>
    <link rel="stylesheet" href="/stylesheets/index.css"/>

    {{#if intro}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/intro.js/2.5.0/introjs.min.css">
    <link rel="stylesheet" href="/stylesheets/introjs.css">
    {{/if}}
  </head>
  <body>
    {{> header}}
    {{{body}}}
    {{> bottom_right}}
    {{> impersonate_footer}}
    {{> analytics}}
  </body>
</html>
