<!--
@Author: Clément Dietschy <bedhed>
@Date:   15-03-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   bedhed
@Last modified time: 15-03-2017
@Copyright: Clément Dietschy 2017
-->

<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="icon" type="image/png" href="/lenom.png">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
