<div class="main">
        <div class="pure-u-1">
                <h1>{{{__ "How can I deploy Wingzy in my company ?"}}}</h1>
                <h2>{{{__ "(In 5 minutes)"}}}</h2>
        </div>
        <ul class="pure-u-1 presentation-new-img-list">
            <li>
                <img src="/images/onboard/presentation_new_logo1.PNG"/>
            </li>
            <li>
                <img src="/images/onboard/presentation_new_logo2.PNG"/>
            </li>
            <li>
                <img src="/images/onboard/presentation_new_logo3.PNG"/>
            </li>
            <li>
                <img src="/images/onboard/presentation_new_logo4.PNG"/>
            </li>
        </ul>
        <div class="pure-g">
            <div class="pure-u-1">
                <div class="grid-box">
                    <a href="{{createNewWingzyUrl}}" class="pure-button scale presentation-btn">{{__ "I create my company's Wingzy"}}</a>
                </div>
            </div>
        </div>

    {{> jquery}}
</div>
