<div class="main onboard-welcome">
  <div class="pure-g">
    <div class="pure-u-1">
      <h1>{{__ "Welcome to %s!" organisation.name}}</h1>
      <h2>{{__ "We would love to find out who you are..." organisation.name}}</h2>
    </div>
  </div>
  <div class="ready-button">
    <div class="pure-g">
      <div class="grid-box">
        <a class="pure-u-1 pure-button scale" href="{{url "onboard/intro" null}}">{{{__ "I am ready!"}}}</a>
      </div>
    </div>
  </div>
</div>
