/* GENERIC ELEMENTS */

html, button, input, select, textarea, .pure-g,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

textarea:focus, input:focus {
    outline: none;
}

body {
  color: #1d1f1a;
  font-size: 15px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
	color: #5C4D51;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

.pure-button,
.ais-infinite-hits--showmore button {
  width: 100%;
  font-size: 22.5px;
  line-height: 30px;
  padding: 15px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #dd362e;
  color: #ffffff;
}

.pure-button.back-button {
  background: #ffffff;
  border: none;
  font-weight: 400;
  color: #dd362e;
}

.ais-infinite-hits--showmore button {
  width: auto;
  margin: auto;
  display: block;
  margin-top: 45px;
}

.ais-infinite-hits--showmore button:disabled {
  display: none;
}

a.pure-button:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2,
label {
	margin: 5px 0;
	padding: 0;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
  height: 30px;
  box-sizing: border-box;
  color: #1d1f1a;
}

em,
em a {
	background: #dd362e;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 800;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.break-all {
  word-break: break-all;
}

ul.errors {
  list-style-type: none;
  background-color: #dde03a;
  border-radius: 30px;
  padding: 20px;
  font-size: 20px;
}

ul.errors li {
  padding: 15px;
}

/*@todo change <a><i>...</i></a> (eg in actions menu ) into <a>*/
footer a:hover img,
header a:hover img,
a.fa:hover {
  transform: scale(1.5);
  text-decoration: none;
}

.scale:hover {
  transform: scale(1.2);
  background-image: none;
}

a img,
a .fa,
a.fa,
.scale,
a.cloud-element {
  transition: all .3s ease-out;
}


/* FLASH */
.flash {
  z-index: 200;
  position: absolute;
  right: 40px;
  top: 100px;
  font-size: 1.6em;
  color: #76cfe7;
}

.success-flash,
.security-flash {
  color: #2ECC71;
}

.flash .fa {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 3.2em;
  width: 1.25em;
  height: 1.25em;
  color: #ffffff;
  background-color: #76cfe7;
  border-radius: 1em;
  padding-top: 5px;
  box-sizing: border-box;
}

.success-flash .fa,
.security-flash .fa {
  background-color: #2ECC71;
}

.flash p {
  text-align: center;
  text-transform: uppercase;
}

.flash {
    -moz-animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    animation-name: fadeOut;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  @-moz-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
  @-webkit-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
  @-ms-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }}
  @-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }}

/* GRID */
.pure-g {
  margin: 0 auto;
	padding: 0;
  max-width: 640px;
}

.grid-box {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

.main {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 145px;
  padding-bottom: 60px;
  flex-grow: 1;
  background-color: #f6f4f4;
}

.home .main {
  padding-top: 0px;
  padding-bottom: 80px;
}

/* HEADER */

header {
	height: 120px;
  width: 100%;
  border-top: 8px solid #dd362e;
  border-bottom: 2px solid #e9e5e6;
  position: fixed;
  top: 0;
  z-index: 100;
  background: #ffffff;
}

.signin header {
  position: absolute;
}

header a {
  color: #c7bcbf;
  font-weight: bolder;
}

header a:hover {
  text-decoration: none;
}

.pure-u-logo > div {
  padding: 30px;
}

.pure-u-logo img {
  max-height: 60px;
}

.pure-u-menu > div {
  width: 100%;
  padding: 40px 30px;
  text-align: right;
  box-sizing: border-box;
  font-size: 30px;
}

.pure-u-menu a {
  margin-left: 30px;
}

#search {
  width: 100%;
}

#subheader {
 display: none;
}

/* INPUTS */

.search-input-box {
  position: relative;
  padding: 30px 15px 15px;
}

.search-input-box > .fa {
  position: absolute;
  z-index: 101;
  padding: 10px;
  right: 20px;
  font-size: 40px;
  color: #dd362e;
  transition: none;
}

.pure-form input[type="email"],
.pure-form input[type="text"],
.pure-form input[type="url"],
.pure-form input[type="tel"] {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;
  border-radius: 30px;
  font-size: 20px;
  height: 60px;
  border: 2px solid #c7bcbf;
  color: #1d1f1a;
  background: #ffffff;
  box-shadow: none;
}

.pure-form input.search-input {
  z-index: 100;
  font-weight: 700;
  border-color: #dd362e;
  color: #33374C;
}

.search-input::placeholder {
  color: #c7bcbf;
  opacity: 1;
}

/* FOOTER */
footer {
  width: 100%;
  min-height: 90px;
  background-color: #c7bcbf;
  z-index: 100;
  padding: 15px 0 60px;
  border-top: 1px solid #ffffff;
}

.pure-u-footer-logo div {
  padding: 30px 15px;
}

.pure-u-footer-logo img {
  height: 40px;
  max-width: none;
}

.pure-u-footer-twitter div {
  text-align: right;
  padding: 35px 15px;
}

footer .fa-twitter {
  color: #ffffff;
  font-size: 30px;
}

.pure-u-footer-menu div {
  padding: 25px 0;
}

footer p {
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.pure-u-footer-menu a {
  color: #ffffff;
  padding: 5px;
  display: block;
  text-align: center;
}

/* CLOUDS & ITEMS */
.cloud,
.record {
  border: 2px solid #e9e5e6;
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  min-height: 64px;
  box-sizing: border-box;
}

div.cloud {
  font-size: 0;
}

p.cloud {
  padding: 20px 30px;
  min-height:inherit;
}

.cloud-element {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 15px;
  height: 30px;
  padding: 0;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #ffffff;
  background: #c7bcbf;
  word-break: break-all;
  overflow: hidden;
}

a.cloud-element:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.cloud-element .fa {
  vertical-align: top;
  padding: 5px 0 5px 10px;
  font-size: 20px;
}

.cloud-element span {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
}

.cloud-element img {
  display: inline-block;
  vertical-align: top;
  height: 30px;
  width: 30px;
  border-radius: 15px 0 0 15px;
}

.cloud-howto {
  font-size: 10px;
  color: #5C4D51;
  padding: 10px 15px;
}

/* PROFILE */

.profile #intro {
   font-size: 18px;
}

.profile h2 {
  padding-left: 15px;
  color: #c7bcbf;
  font-weight: 300;
}

.profile #edit-button,
.profile #delete-button {
  margin: 0 0 15px;
  font-size: 18px;
  padding: 5px 15px;
}

.cloud.cloud-list {
  min-height: 0;
}

.cloud-list .cloud-element {
  border-radius: 0;
  font-size: 18px;
  display: block;
  padding: 10px;
  margin: 0;
  background: none;
  color: #5C4D51;
  height: auto;
}

.cloud-list .cloud-element .fa {
  padding: 2px 0;
  float: left;
}

.cloud-list .cloud-element span {
  display: block;
  padding: 0 0 0 30px;
}

/* SEARCH RESULTS */
#search-results .pure-g-box {
  padding: 15px;
}

#search-results .pure-g {
  max-width: 610px;
}

.record {
  padding: 0;
}

.pure-u-intro {
  height: 28vw;
  max-height: 180px;
  min-height: 100px;
  overflow: hidden;
}

.name {
  display: block;
  position: relative;
  min-height: 12vw;
  padding: 0;
  margin: 0;
  color: #1d1f1a;
}

.name h2,
.name h1 {
  font-size: 18px;
  line-height: 1em;
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
}

.name h3 {
  text-align: center;
  color: #c7bcbf;
}

.intro {
  font-size: 12px;
  padding: 5px 0;
}

.name,
.intro {
  margin-left: 32vw;
  margin-right: 40px;
}

.profile .name {
  margin-right: 0;
  height: 18vw;
  max-height: 135px;
}

.profile .name h1 {
  font-size: 24px;
}

.link-hashtag,
a.hashtag {
  cursor: pointer;
}

/* PICTURE */
.picture {
  float: left;
  height: 28vw;
  width: 28vw;
  max-height: 180px;
  max-width: 180px;
  min-height: 100px;
  min-width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.picture img {
  width: 28vw;
  max-width: 180px;
  min-width: 100px;
}

.record .picture {
  border-radius: 0;
  border-top-left-radius: 28px;
}

/* HASHTAGS */

.pure-u-hashtags {
  position: relative;
  border-top: 2px solid #e9e5e6;
}

.hashtags-box {
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0 0 28px 28px;
}

.hashtags {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 5px 5px 50px;
}

.hashtag.highlighted {
  color: #ffffff;
  border-color: #dd362e;
  background-color: #dd362e;
}

.scroll-right, .scroll-left {
  display: none;
  position: absolute;
  top: 20px;
  right: -30px;
  font-size: 30px;
  color: #e9e5e6;
  cursor: pointer;
}

.scroll-left {
  right: auto;
  left: -30px;
}

/* CONTACTS */
.contacts {
  float: right;
  height: 100%;
  width: 40px;
  padding: 10px 5px;
  box-sizing: border-box;
  overflow: hidden;
  /*border-left: 2px solid #e9e5e6;*/
}

.contacts a {
  font-size: 18px;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: #e9e5e6;
}

.contacts .extraLink {
  display: none;
}

.fa-dropbox, .fa-dropbox:hover{color:#018BD3;}
.fa-facebook, .fa-facebook:hover{color:#3C599F;}
.fa-flickr, .fa-flickr:hover{color:#FF0084;}
.fa-github, .fa-github:hover{color:#070709;}
.fa-google-plus, .fa-google-plus:hover{color:#CF3D2E;}
.fa-instagram, .fa-instagram:hover{color:#A1755C;}
.fa-linkedin, .fa-linkedin:hover{color:#0085AE;}
.fa-pinterest, .fa-pinterest:hover{color:#CC2127;}
.fa-skype, .fa-skype:hover{color:#01AEF2;}
.fa-stack-overflow, .fa-stack-overflow:hover{color:#FF7300;}
.fa-trello, .fa-trello:hover{color:#265A7F;}
.fa-twitter, .fa-twitter:hover{color:#32CCFE;}
.fa-vimeo, .fa-vimeo:hover{color:#229ACC;}
.fa-youtube, .fa-youtube:hover{color:#C52F30;}
.fa-whatsapp, .fa-whatsapp:hover{color:#25D366;}
.fa-slack, .fa-slack:hover{color:#5C3A58;}
.fa-google, .fa-google:hover{color:#FBBC05;}
.fa-envelope-o, .fa-envelope-o:hover{color:#dd4b39;}
.fa-phone, .fa-phone:hover{color:#007F3F;}
.fa-map-marker, .fa-map-marker:hover{color:#DC4A3E;}
.fa-folder, .fa-folder:hover, .fa-file, .fa-file:hover{color:#4285F4;}

/* SIGNIN PAGE */

.signin header {
  border-bottom: none;
}

.signin .main {
  padding-top: 120px;
  padding-bottom: 150px;
  background-image: url('/images/chat.png');
  background-position: center 225px;
  background-repeat: no-repeat;
  background-size: 40vh;
  background-color: #ffffff;
}

.signin h1 {
  text-align: center;
  margin: 0;
  font-size: 22.5px;
  font-weight: 700;
  padding: 0 30px 15px;
}

.signin h2 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 0 30px 30px;
}

.signin-or {
  font-size: 15px;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  color: #c7bcbf;
}

#email-input {
  margin-bottom: 15px;
  border-color: #a4c5cb;
}

#email-submit {
  background-color: #a4c5cb;
}

#jeSuisHumain {
  display: none;
}

.signin .pure-button {
  background-color: #c7bcbf;
}

.google-signin img {
  float: left;
  height: 30px;
}

.bottom-buttons  {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.onboard .bottom-buttons .grid-box {
  padding: 60px 15px;
}

.bottom-buttons a.pure-u-1-2 {
  text-align: center;
  padding: 15px 0 15px;
}

.signin .bottom-buttons .grid-box {
  padding-bottom: 0;
}

/* IMPERSONATE FOOTER */
.impersonate {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 4px;
  background-color: #F39C12;
  color: #ffffff;
  text-align: center;
}

.impersonate a {
  color: #dd362e;
}

/* Error page */

.reward {
  margin: 0;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
  color: #dd362e;
}

.reward .fa {
  width: auto;
}

.quote {
  display: block;
  width: 320px;
  margin: 60px auto 0;
}

.quote span {
  display: block;
  text-align: right;
}

.error-code, .error-detail {
  text-align: center;
  color: #c7bcbf;
}

.youtube-player iframe {
  display: block;
  margin: 15px auto 60px;
  width: 320px;
  height: 160px;
}

/* MOBILE VERSION */

.search-on .pure-u-logo,
.search-on .pure-u-menu,
.pure-u-search  {
  display: none;
}

.search-on .pure-u-search {
  display: inherit;
}

@media screen and (min-width: 639px) {

  .cloud,
  .record {
    min-height: 84px;
  }

  .pure-u-footer-menu a {
    padding: 1%;
    width: 47%;
    display: inline-block;
  }

  .hashtags-box {
    height: 70px;
  }

  .cloud-element {
    font-size: 18px;
    height: 36px;
    border-radius: 18px;
    margin: 12px;
  }

  .cloud-element span {
    padding: 6px 12px;
  }

  .cloud-element img {
    height: 36px;
    width: 36px;
    border-radius: 18px 0 0 18px;
  }

  .cloud-element .fa {
    padding: 6px 0 6px 12px;
    font-size: 24px;
  }

  .name {
    min-height: 90px;
    box-sizing: border-box;
  }

  .name h2,
  .name h1 {
    font-size: 24px;
    padding-bottom: 5px;
    line-height: normal;
  }

  .profile .name h1 {
    font-size: 30px;
  }

  .intro {
    font-size: 15px;
    padding-top: 8px;
    line-height: 24px;
  }

  .name,
  .intro {
    margin-left: 200px;
    margin-right: 60px;
  }

  .contacts {
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .contacts a {
    font-size: 21px;
    height: 40px;
    width: 40px;
    padding: 10px;
  }

  .scroll-right, .scroll-left {
    display: block;
  }

  .signin h2 {
    font-size: 22.5px;
  }

  /* to cleanup: */

  .error-code, .error-detail {
    text-align: right;
  }

  h2.big  {
    font-size: 2em;
  }

  p.big {
    font-size: 1.5em;
  }

  .pure-right h2, .pure-right p {
    text-align: right;
  }

}

@media screen and (min-width: 1279px) {
    .search-on .pure-u-logo,
    .search-on .pure-u-menu,
    .pure-u-search  {
      display: inherit;
    }

    .signin .main {
      background-size: 75vh;
    }

    header .pure-g {
      max-width: 1280px;
    }
}
