/* GENERIC ELEMENTS */

html, button, input, select, textarea, .pure-g,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.5px;
}

textarea:focus, input:focus {
    outline: none;
}

body {
  color: #1d1f1a;
  font-size: 15px;
  display: flex;
  flex-direction: column;
}

body.search,
body.profile {
  background-color: #f2f2f2;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
	color: #5C4D51;
	text-decoration: none;
}

a:hover {
  text-decoration: underline;
  opacity: 1;
}

.pure-button,
.ais-infinite-hits--showmore button {
  width: 100%;
  font-size: 22.5px;
  line-height: 30px;
  padding: 15px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #dd362e;
  color: #ffffff;
}

.pure-button.back-button {
  background: none;
  border: none;
  font-weight: 400;
  color: #dd362e;
}

.ais-infinite-hits--showmore button {
  width: auto;
  margin: auto;
  display: block;
  margin-top: 45px;
}

.ais-infinite-hits--showmore button:disabled {
  display: none;
}

a.pure-button:hover {
  text-decoration: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2,
label {
	margin: 5px 0;
	padding: 0;
  font-size: 20px;
  letter-spacing: 0.5px;
  font-weight: 700;
}

h3 {
  margin: 0;
  padding: 0;
  font-size: 12px;
  padding: 5px 10px;
  letter-spacing: 0.3px;
  font-weight: 600;
  box-sizing: border-box;
  color: #1d1f1a;
}

em,
em a {
	background: #dd362e;
  color: #ffffff;
  border-radius: 5px;
  font-weight: 800;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.break-all {
  word-break: break-all;
}

ul.errors,
ul.successes {
  list-style-type: none;
  background-color: #ffb400;
  color: #ffffff;
  border-radius: 30px;
  margin: 30px 0;
  padding: 20px;
  font-size: 20px;
}

ul.successes {
  background-color: #76cfe7;
}

ul.errors:first-child,
ul.successes:first-child {
  margin-top: 0;
}

ul.errors:last-child,
ul.successes:last-child {
  margin-bottom: 0;
}

ul.errors li {
  padding: 15px;
}

a.fa:hover {
  transform: scale(1.5);
  text-decoration: none;
}

.scale:hover {
  transform: scale(1.2);
}

.pure-button:hover,
.pure-button:active,
.pure-button:focus {
  box-shadow: none;
  background-image: none;
}

a img,
a span,
a .fa,
a.fa,
.scale,
a.cloud-element,
.pure-menu a,
#wings-suggestions .cloud-element {
  transition: all .3s ease-out;
}


/* FLASH */
.flash {
  z-index: 200;
  position: absolute;
  right: 40px;
  top: 100px;
  font-size: 1.6em;
  color: #76cfe7;
}

.success-flash,
.security-flash {
  color: #2ECC71;
}

.flash .fa {
  display: block;
  margin: auto;
  text-align: center;
  font-size: 3.2em;
  width: 1.25em;
  height: 1.25em;
  color: #ffffff;
  background-color: #76cfe7;
  border-radius: 1em;
  padding-top: 5px;
  box-sizing: border-box;
}

.success-flash .fa,
.security-flash .fa {
  background-color: #2ECC71;
}

.flash p {
  text-align: center;
  text-transform: uppercase;
}

.flash {
    -moz-animation-name: fadeOut;
    -webkit-animation-name: fadeOut;
    -ms-animation-name: fadeOut;
    animation-name: fadeOut;
    -moz-animation-duration: 2s;
    -webkit-animation-duration: 2s;
    -ms-animation-duration: 2s;
    animation-duration: 2s;
    -moz-animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    -ms-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -moz-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -ms-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

.hidden {
  display: none;
}

  @-moz-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
  @-webkit-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; }  100% { opacity: 0; visibility: hidden; }}
  @-ms-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden; }}
  @-keyframes fadeOut { 0% { opacity: 0; visibility: visible; }  30% { opacity: 1; visibility: visible; } 100% { opacity: 0; visibility: hidden;  }}

/* GRID */
.pure-g {
  margin: 0 auto;
	padding: 0;
  max-width: 640px;
}

.grid-box {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
  clear: both;
}

.main {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 94px;
  padding-bottom: 60px;
  flex-grow: 1;
}

#subheader {
  display: none;
  background: #f2f2f2;
  z-index: 49;
}
#subheader .suggestions-box {
  height: 45px;
  padding: 5px 0;
}
#subheader #hashtag-suggestions .cloud-element {
  color: #a4c5cb;
  background: #ffffff;
  height: 24px;
  margin: 6px;
  font-size: 12px;
  font-weight: 600;
}
#subheader #hashtag-suggestions .cloud-element span {
  padding: 4px 8px;
}
#subheader .scroll-right,
#subheader .scroll-left {
  color: #ffffff;
  font-size: 20px;
  right: -10px;
  top: 13px;
}
#subheader .scroll-left {
  right: auto;
  left: -10px;
}

/* INPUTS */
.search-input-box {
  position: relative;
  padding: 15px;
}

.search-input-box .selectize-control {
  line-height: 0;
}

.search-input-box > .fa {
  position: absolute;
  z-index: 40;
  padding: 12px;
  right: 20px;
  font-size: 30px;
  color: #dd362e;
}

.search-input-box > .fa-share {
  transform: rotate(135deg);
}

.search-input-box > .fa-share:hover {
  transform: scale(1.3) rotate(135deg);
}

#search.search-input-box > .fa {
  top: 15px;
  cursor: pointer;
}

#search-input.open,
.selectize-input.dropdown-active {
  border-bottom: none;
  border-radius: 30px 30px 0 0;
}

.algolia-autocomplete {
  width: 100%;
}
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  width: 100%;
}
.algolia-autocomplete .aa-dropdown-menu,
.selectize-dropdown,
.pure-menu-children {
  width: 100%;
  background-color: #f6f4f4;
  border: 2px solid #dd362e;
  border-radius: 0 0 30px 30px;
  border-top: none;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 39;
  box-shadow: 0 2px 10px rgba(0,0,0,.2)
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion,
.selectize-dropdown [data-selectable],
.pure-menu-children .pure-menu-link {
  cursor: pointer;
  border-top: 1px solid #a4c5cb;
  font-size: 17px;
  padding: 10px 15px;
  font-weight: 600;
  line-height: normal;
  color: #5c4d51;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .newHashtag {
  font-weight: 400;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion img,
.selectize-dropdown .aa-suggestion img,
.pure-menu-children .pure-menu-link img {
  float: left;
  height: 30px;
  width: 30px;
  margin: 0 20px 0 0;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.person img,
.selectize-dropdown .aa-suggestion.person img,
.pure-menu-children .pure-menu-link.person img {
  border-radius: 15px;
}

.algolia-autocomplete .aa-dropdown-menu .aa-suggestion .tag,
.selectize-dropdown .aa-suggestion .tag {
  float:right;
  font-size: 15px;
  margin-left: 20px;
  line-height: 27px;
  font-weight: 300;
  display: none;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor,
.selectize-dropdown .hashtag.active {
  background-color: #dd362e;
  color: #ffffff;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em,
.selectize-dropdown [data-selectable] em {
  font-weight: 800;
  font-style: normal;
  background: none;
  color: inherit;
}

.pure-form input[type="email"],
.pure-form input[type="text"],
.pure-form input[type="url"],
.pure-form input[type="tel"],
.pure-form textarea,
.selectize-input {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 20px;
  margin: 0;
  border-radius: 30px;
  font-size: 20px;
  min-height: 60px;
  border: 2px solid #a4c5cb;
  color: #1d1f1a;
  background: #ffffff;
  box-shadow: none;
}

#search input,
#search-input,
#link-input,
header .pure-form input.search-input,
.selectize-input {
  font-weight: 700;
  min-height: 54px;
  border-color: #dd362e;
  color: #33374C;
  z-index: 40;
  font-size: 17px;
}

.selectize-input {
  padding: 5px 15px 5px 20px;
  font-size: 0;
}

.selectize-input.dropdown-active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: 1px solid #a4c5cb;
}

.selectize-input > input[type="text"] {
  vertical-align: top;
  font-size: 17px;
  height: 30px !important;
  margin: 5px 5px 5px 0 !important;
  padding: 5px 0 !important;
  min-width: 100px !important;
  border: none;
}

.selectize-input .cloud-element {
  line-height: normal;
  margin: 5px 5px 5px 0;
}

#modal-layer {
  position: fixed;
  width: 100vw;
  height: 100vw;
  background-color: #ffffff;
  z-index: 30;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease;
}

#modal-layer.show {
  visibility: visible;
  opacity: 0.9;
}

/* Hashtag autocomplete in intro & about me*/
.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 15px 15px 15px;
  background-color: #ffffff;
  border: 2px solid #dd362e;
  background-color: #f6f4f4;
  overflow: hidden;
}

.dropdown-menu .textcomplete-item a {
  display: block;
  cursor: pointer;
  border-top: 1px solid #a4c5cb;
  color: #5c4d51;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
}

.dropdown-menu .textcomplete-item:first-child a {
  border-top: none;
}

.dropdown-menu .textcomplete-item a em {
  font-weight: 800;
}

.dropdown-menu .textcomplete-item.active a {
  color: #ffffff;
  background: #dd362e;
}

/* HEADER */

header {
	min-height: 94px;
  box-sizing: border-box;
  width: 100%;
  border-top: 10px solid #dd362e;
  position: fixed;
  top: 0;
  z-index: 50;
  background: #ffffff;
}

header .pure-g {
  max-width: 100%;
}

.signin header {
  position: absolute;
}

header a:hover {
  text-decoration: none;
}

.pure-u-logo > div {
  padding: 15px;
  line-height: 0;
}

.pure-u-logo img {
  max-height: 40px;
}

.pure-u-search #search {
  max-width: 640px;
  margin: auto;
  box-sizing: border-box;
}

.pure-u-menu > div {
  padding: 20px 15px 0 0;
  width: 100%;
  box-sizing: border-box;
}

.pure-u-menu .pure-menu-horizontal {
  text-align: right;
}

.pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
  line-height: 40px;
  font-size: 18px;
  font-weight: 600;
}

.pure-menu-horizontal .pure-menu-item-product,
.pure-menu-horizontal .hide-signin {
  display: none;
}

.pure-menu-list > .pure-menu-item > a:hover,
.pure-menu-list > .pure-menu-item > a:active,
.pure-menu-list > .pure-menu-item > a:focus {
  color: #a4c5cb;
  background: none;
}

/* Dropdown */

.pure-menu .pure-menu-link {
  padding: 0;
}

.pure-menu-horizontal .pure-menu-has-children > .pure-menu-link::after {
  content: none;
}

.pure-menu-horizontal .pure-menu-children {
  left: auto;
  top: 25px;
  right: 25px;
  border: 2px solid #a4c5cb;
  border-radius: 20px 0 20px 20px;
  background: #ffffff;
  z-index: 60;
}

.pure-menu-children .pure-menu-item-org .pure-menu-link {
  font-weight: 300;
  color: #a4c5cb;
}
.pure-menu-children .pure-menu-link:hover {
  background-color: #a4c5cb;
  color: #ffffff;
}

.pure-menu-children .pure-menu-item:first-child .pure-menu-link {
  border-top: none;
}

.pure-menu-children .pure-menu-item .pure-menu-link {
  text-align: left;
  padding: 15px 30px;
}

.pure-menu-children .pure-menu-item .edit-link {
  color: #dd362e;
}

.pure-menu-link.pure-menu-picture {
  padding-bottom: 15px;
}

.pure-menu-picture:hover {
  background: none;
}

.pure-menu-picture img {
  width: 54px;
  max-height: 54px;
  border-radius: 27px;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  background: #a4c5cb;
  z-index: 101;
  position: relative;
  transition: none;
  vertical-align: top;
}

.pure-menu-allow-hover:hover > .pure-menu-picture img {
  border: 2px solid #a4c5cb;
}

.pure-menu-children .pure-menu-item-org .pure-menu-link {
  font-weight: 300;
  color: #a4c5cb;
}
.pure-menu-children .pure-menu-link:hover {
  background-color: #a4c5cb;
  color: #ffffff;
}

#search {
  width: 100%;
}


/* FOOTER */
footer {
  width: 100%;
  min-height: 90px;
  background: #a4c5cb;
  z-index: 100;
  padding: 15px 0 60px;
}

.pure-u-footer-logo div {
  padding: 30px 15px;
}

.pure-u-footer-logo img {
  height: 40px;
  max-width: none;
}

.pure-u-footer-twitter div {
  text-align: right;
  padding: 35px 15px;
}

footer .fa-twitter {
  color: #ffffff;
  font-size: 30px;
}

.pure-u-footer-menu div {
  padding: 25px 0;
}

footer p {
  color: #ffffff;
  padding: 5px;
  text-align: center;
}

.pure-u-footer-menu a {
  color: #ffffff;
  padding: 5px;
  display: block;
  text-align: center;
}

/* CLOUDS & ITEMS */
.cloud,
.record {
  background: #ffffff;
  border-radius: 30px;
  padding: 10px;
  min-height: 64px;
  box-sizing: border-box;
}

.record.hashtag .pure-u-hashtags {
  display: none;
}

div.cloud {
  font-size: 0;
}

p.cloud {
  padding: 20px 30px;
  min-height:inherit;
}

.cloud-element,
.selectize-control.multi .selectize-input > div.item {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: bottom;
  border-radius: 15px;
  height: 30px;
  padding: 0;
  margin: 10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.4px;
  color: #ffffff;
  background: #a4c5cb;
  word-break: break-all;
  white-space: nowrap;
}

#wings-suggestions .cloud-element {
  color: #a4c5cb;
  background: #ffffff;
}

a.cloud-element:hover,
#wings-suggestions .cloud-element:hover {
  text-decoration: none;
  transform: scale(1.2);
}

.cloud-element .fa {
  vertical-align: top;
  padding: 5px 0 5px 10px;
  font-size: 20px;
}

.cloud-element span {
  display: inline-block;
  vertical-align: top;
  padding: 5px 10px;
}

.cloud-element img {
  display: inline-block;
  vertical-align: top;
  height: 40px;
  width: 40px;
  margin: -5px -5px 0 -5px;
}

.selectize-input .cloud-element.person,
.selectize-input .cloud-element.unknown {
  background: none;
}

.selectize-input .cloud-element.person span,
.selectize-input .cloud-element.unknown span {
  color: #33374C;
  background: none;
  font-size: 17px;
  font-weight: 700;
  padding-right: 0;
  padding-left: 0;
}

.selectize-input .cloud-element.person .remove,
.selectize-input .cloud-element.unknown .remove {
  display: none;
}

.cloud-howto {
  font-size: 10px;
  color: #5C4D51;
  padding: 10px 15px;
}

.js-remove,
.remove,
.count {
  display: inline-block;
  vertical-align: top;
  padding: 6px 10px 6px 0;
  min-width: 1em;
  text-align: center;
  cursor: pointer;
  color: #5c4d51;
  font-weight: 300;
}

.js-remove:hover,
.remove:hover {
  font-weight: 800;
  color: #ffb400;
  text-decoration: none;
}

/* SEARCH */
.search header {
  border-bottom: none;
}

/* PROFILE */

.profile header,
.cover-edit header,
.about-edit header {
  position: relative;
  min-height: 50vh;
  background-color: none;
  background-image: url('/images/ibises.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.profile .main,
.cover-edit .main,
.about-edit .main {
  padding: 0;
  min-height: 50vh;
}

.profile .main .pure-g {
  max-width: 100%;
}

.profile .left-panel {
  background: #ffffff;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}

.profile .left-panel.editable {
  padding-bottom: 60px;
}

.profile .left-panel .grid-box:first-child {
  padding-top: 0;
}

.profile .right-panel {
  background: #f2f2f2;
  padding-bottom: 60px;
}

.profile .picture,
.profile .emoji-box {
  float: none;
  margin: -95px auto 0;
  position: relative;
  z-index: 55;
  border: 5px solid #ffffff;
}

.profile .emoji-box {
  border: none;
  text-align: center;
}

.profile #intro {
   font-size: 18px;
}

.profile #description {
  padding: 0 15px;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.8em;
}

.profile #edit-buttons {
  min-width: 60px;
  text-align: center;
  margin-bottom: -30px;
}

.profile #edit-button,
.profile #delete-button,
.profile #cover-button-left,
.profile #cover-button,
.profile #about-button,
.profile #promote-button,
.profile #emoji-button {
  display: block;
  margin: 0;
  font-size: 18px;
  width: auto;
  padding: 5px 10px;
}

.profile #about-button {
  padding: 0 10px;
}

.profile #cover-button {
  display: none;
  position: absolute;
  right: 30px;
  bottom: 30px;
  padding: 5px 15px;
}

.profile #hashtags-button {
  width: auto;
  background-color: #dd362e;
  line-height: normal;
}

.profile #contacts-button {
  color: #dd362e;
}

.cloud.cloud-list {
  min-height: 0;
}

.cloud-list .cloud-element {
  border-radius: 0;
  font-size: 18px;
  display: block;
  padding: 10px;
  margin: 0;
  background: none;
  color: #5C4D51;
  height: auto;
}

.cloud-list .cloud-element .fa {
  padding: 2px 0;
  float: left;
}

.cloud-list .cloud-element span {
  display: block;
  padding: 0 0 0 30px;
}

.profile a.cloud-element.link {
  padding: 10px 0;
}

.profile .links a.cloud-element:hover {
  transform: none;
}

.profile .links a.cloud-element span {
  line-height: 28px;
}

.profile a.cloud-element .fa {
  width: 1.5em;
  padding-right: 10px;
  text-align: center;
}

.profile a.cloud-element:hover .fa {
  transform: scale(1.5);
}

/* COVER EDIT */
.cover-edit .main,
.about-edit .main {
  padding-top: 0;
  padding-bottom: 90px;
}

.cover-edit #uploadcare,
.cover-edit .uploadcare--widget {
  display: block;
}

.cover-edit .uploadcare--widget button {
  width: 100%;
  margin: auto;
  font-size: 22.5px;
  line-height: 30px;
  padding: 15px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  background-color: #a4c5cb;
  color: #ffffff;
  transition: all .3s ease-out;
}

.cover-edit .uploadcare--widget__text {
  display: none;
}

.cover-edit .uploadcare--widget button:hover,
.cover-edit .uploadcare--widget button:active,
.cover-edit .uploadcare--widget button:focus {
  transform: scale(1.2);
  cursor: pointer;
}

.uploadcare--widget__progress {
  position: absolute;
  width: 60px;
  height: 60px;
}

.onboard-intro .uploadcare--progress_type_canvas {
  color: #dd362e;
}

.cover-edit h2,
.about-edit h2,
.profile h2 {
  color: #5C4D51;
  font-size: 24px;
  padding: 0 15px;
  font-weight: 600;
  text-align: center;
}

/* SEARCH RESULTS */
#search-results {
  margin-top: 15px;
}

#search-results .pure-g-box {
  padding: 15px;
}

#search-results .pure-g {
  max-width: 610px;
}

#show-more {
  display: none;
}

.record {
  padding: 0;
}

.record.pure-g-hashtag {
  background: #a4c5cb;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
}

.pure-g-hashtag .pure-u-hashtags,
.pure-g-hashtag .intro {
  display: none;
}

.pure-u-intro {
  height: 28vw;
  max-height: 180px;
  min-height: 100px;
  overflow: hidden;
}

.pure-g-hashtag .pure-u-intro {
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  overflow: visible;
}

.name {
  display: block;
  position: relative;
  height: 60px;
  max-height: 60px;
  min-height: 60px;
  padding: 0;
  margin: 0;
  color: #1d1f1a;
}

.pure-g-hashtag .name {
  min-height: 6vw;
  color: #ffffff;
}

.name h2,
.name h1 {
  font-size: 18px;
  line-height: 1em;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
}

.pure-g-hashtag .name h2,
.pure-g-hashtag .name h1 {
  bottom: 50%;
  transform: translateY(50%);
}

.intro {
  font-size: 12px;
  padding: 5px 0;
  box-sizing: border-box;
  overflow: auto;
}

.name,
.intro {
  margin-left: 32vw;
  margin-right: 40px;
}

.pure-g-hashtag .name {
  margin-left: 80px;
}

.profile h1 {
  font-size: 24px;
  padding-top: 15px;
}

a.hashtag {
  cursor: pointer;
}

/* PICTURE */
.picture,
.emoji-box {
  height: 180px;
  width: 180px;
  overflow: hidden;
  border-radius: 50%;
}

.emoji-box {
  border-radius: 0;
  font-size: 180px;
  line-height: 180px;
}

.picture img,
.emoji-box img {
  width: 180px;
}

.record .picture,
.record .emoji-box {
  float: left;
  height: 28vw;
  width: 28vw;
  max-height: 180px;
  max-width: 180px;
  min-height: 100px;
  min-width: 100px;
  border-radius: 30px 0 30px 0;
}

.record .picture img,
.record .emoji-box img {
  width: 28vw;
  max-width: 180px;
  min-width: 100px;
}

.record.pure-g-hashtag .picture,
.record.pure-g-hashtag .emoji-box {
  float: left;
  height: 80px;
  width: 80px;
  max-height: 80px;
  max-width: 80px;
  min-height: 80px;
  min-width: 80px;
  border-radius: 0;
  margin: -10px -10px 0 -10px;
}

.record.pure-g-hashtag .picture img,
.record.pure-g-hashtag .emoji-box img {
  width: 80px;
  max-width: 80px;
  min-width: 80px;
}

.record .pure-u-intro:last-child .picture {
  border-bottom-right-radius: 0;
}

.record .pure-u-intro:last-child .picture {
  border-bottom-left-radius: 28px;
}

/* HASHTAGS */

.pure-u-hashtags {
  position: relative;
}

.hashtags-box {
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 0 0 28px 28px;
}

.hashtags {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 5px 5px 50px;
}

.hashtag.highlighted {
  color: #ffffff;
  border-color: #dd362e;
  background-color: #dd362e;
}

.scroll-right, .scroll-left {
  display: none;
  position: absolute;
  top: 20px;
  right: -30px;
  font-size: 30px;
  color: #ffffff;
  cursor: pointer;
}

.scroll-left {
  right: auto;
  left: -30px;
}

.pure-u-suggestions {
  position: relative;
}

.suggestions-box {
  height: 70px;
  box-sizing: border-box;
  overflow: hidden;
}

#hashtag-suggestions {
  padding: 0;
  min-height: 100px;
  white-space: nowrap;
  overflow-x: scroll;
}

#hashtag-suggestions .cloud-element {
  margin: 0 20px 20px 0;
}

.added {
	animation: added 1.5s;
}

@keyframes added {
	0% {
    background-color: #a4c5cb;
  }
	30% {
    background-color: #dd362e;
  }
	100% {
    background-color: #a4c5cb;
  }
}


/* CONTACTS */
.contacts {
  float: right;
  height: 100%;
  width: 40px;
  padding: 10px 5px;
  box-sizing: border-box;
  overflow: hidden;
}

.pure-g-hashtag .contacts {
  width: 120px;
}

.contacts a {
  font-size: 18px;
  padding: 5px;
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  color: #d5c6cb;
}

.pure-g-hashtag .contacts a {
color: #e6e6e6;
}

.contacts .extraLink {
  display: none;
}

.fa-dropbox, .fa-dropbox:hover{color:#018BD3;}
.fa-facebook, .fa-facebook:hover{color:#3C599F;}
.fa-flickr, .fa-flickr:hover{color:#FF0084;}
.fa-github, .fa-github:hover{color:#070709;}
.fa-google-plus, .fa-google-plus:hover{color:#CF3D2E;}
.fa-instagram, .fa-instagram:hover{color:#A1755C;}
.fa-linkedin, .fa-linkedin:hover{color:#0085AE;}
.fa-pinterest, .fa-pinterest:hover{color:#CC2127;}
.fa-skype, .fa-skype:hover{color:#01AEF2;}
.fa-stack-overflow, .fa-stack-overflow:hover{color:#FF7300;}
.fa-trello, .fa-trello:hover{color:#265A7F;}
.fa-twitter, .fa-twitter:hover{color:#32CCFE;}
.fa-vimeo, .fa-vimeo:hover{color:#229ACC;}
.fa-youtube, .fa-youtube:hover{color:#C52F30;}
.fa-whatsapp, .fa-whatsapp:hover{color:#25D366;}
.fa-slack, .fa-slack:hover{color:#5C3A58;}
.fa-google, .fa-google:hover{color:#FBBC05;}
.fa-envelope-o, .fa-envelope-o:hover{color:#dd4b39;}
.fa-phone, .fa-phone:hover{color:#007F3F;}
.fa-map-marker, .fa-map-marker:hover{color:#DC4A3E;}
.fa-folder, .fa-folder:hover, .fa-file, .fa-file:hover{color:#4285F4;}

/* NOONE */
.noone img {
  width: 100%;
}

.noone h2 {
  text-align: center;
}

.noone p {
  margin-bottom: 30px;
}

/* SIGNIN PAGE */

.signin header {
  border-bottom: none;
}

.signin h1 {
  text-align: center;
  margin: 0;
  font-size: 22.5px;
  font-weight: 700;
}

.signin h2 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
}

.signin-or {
  font-size: 15px;
  padding: 15px;
  text-align: center;
  font-weight: 700;
  color: #a4c5cb;
}

#email-input {
  margin-bottom: 15px;
  border-color: #a4c5cb;
}

#email-submit {
  background-color: #a4c5cb;
}

#jeSuisHumain {
  display: none;
}

.cheers .main .pure-button {
  margin-top: 30px;
}


.grid-box-signin {
  box-sizing: border-box;
  max-width: 500px;
  margin: auto;
}

.grid-box-signin .pure-button {
  background: #a4c5cb;
}

.grid-box-signin .pure-button.google-signin {
  background: #dd362e;
}

.google-signin .fa {
  float: left;
  font-size: 30px;
  color: #ffffff;
}

.bottom-buttons  {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bottom-buttons .grid-box {
  padding: 30px 15px;
}

.bottom-buttons a.pure-u-1-2 {
  text-align: center;
  padding: 15px 0 15px;
}

.signin .bottom-buttons .grid-box {
  padding-bottom: 0;
}

/* IMPERSONATE FOOTER */
.impersonate {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 200;
  text-transform: uppercase;
  font-size: 0.8em;
  padding: 4px;
  background-color: #F39C12;
  color: #ffffff;
  text-align: center;
}

.impersonate a {
  color: #dd362e;
}

/* Error page */

.admin h1 {
  text-align: center;
  font-weight: 600;
  font-size: 44px;
}

.admin .main .pure-g {
  margin-top: 15px;
  margin-bottom: 15px;
}

.reward {
  margin: 0;
  font-size: 5em;
  line-height: 1em;
  text-align: center;
  color: #dd362e;
}

.reward .fa {
  width: auto;
}

.quote {
  display: block;
  width: 320px;
  margin: 60px auto 0;
}

.quote span {
  display: block;
  text-align: right;
}

.error-code, .error-detail {
  text-align: center;
  color: #a4c5cb;
}

.youtube-player iframe {
  display: block;
  margin: 15px auto 60px;
  width: 320px;
  height: 160px;
}

/* MOBILE VERSION */

.search-on .pure-u-logo,
.pure-u-search  {
  display: none;
}

.search-on .pure-u-search {
  display: inherit;
}

@media screen and (min-width: 639px) {

  header {
  	min-height: 120px;
  }

  .search-on .pure-u-logo {
    display: inherit;
  }

  .pure-u-logo > div {
    padding: 30px;
    line-height: 0;
  }

  .pure-u-logo img {
    max-height: 60px;
  }

  .pure-u-menu > div {
    padding: 36px 30px 0 0;
  }

  .pure-menu-horizontal .fa {
    display: none;
  }

  .pure-menu-horizontal .hide-signin {
    display: inline;
  }

  .main {
    padding-top: 130px;
  }

  .error .main .pure-g:first-child {
    margin-top: 30px;
  }

  .cloud,
  .record {
    min-height: 84px;
  }

  .pure-u-footer-menu a {
    padding: 1%;
    width: 47%;
    display: inline-block;
  }

  .hashtags-box {
    height: 70px;
  }

  .cloud-element {
    font-size: 18px;
    height: 36px;
    border-radius: 18px;
    margin: 12px;
  }

  .selectize-input .cloud-element {
    margin: 10px 20px 10px 0;
  }

  .selectize-input .cloud-element.person span,
  .selectize-input .cloud-element.unknown span {
    font-size: 20px;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion .tag,
  .selectize-dropdown .aa-suggestion .tag {
    display: block;
  }

  .algolia-autocomplete .aa-dropdown-menu .aa-suggestion,
  .selectize-dropdown [data-selectable],
  .pure-menu-children .pure-menu-link {
    font-size: 20px;
    padding: 15px 20px;
  }

  .cloud-element span {
    padding: 6px 12px;
  }

  .cloud-element img {
    height: 48px;
    width: 48px;
    margin: -6px -6px 0 -6px;
  }

  .cloud-element .fa {
    padding: 6px 0 6px 12px;
    font-size: 24px;
  }
  #search input,
  #search-input,
  #link-input,
  header .pure-form input.search-input,
  .selectize-input {
    min-height: 70px;
    border-radius: 35px;
    font-size: 20px;
  }

  .selectize-input > input[type="text"] {
    vertical-align: top;
    font-size: 20px;
    height: 36px !important;
    margin: 10px 10px 10px 0 !important;
    padding: 5px 0 !important;
    border: none;
  }

  .search-input-box {
    padding: 20px 15px 15px;
  }

  #search.search-input-box > .fa {
    top: 20px;
  }

  .search-input-box > .fa {
    padding: 15px;
    font-size: 40px;
  }

  #subheader .suggestions-box {
    padding: 5px 15px;
  }

  .name {
    min-height: 90px;
    box-sizing: border-box;
  }

  .pure-g-hashtag .name {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
  }

  .name h2,
  .name h1 {
    font-size: 24px;
    padding-bottom: 5px;
    line-height: normal;
  }

  .profile h1 {
    font-size: 30px;
  }

  .profile .left-panel {
    min-height: 50vh;
  }

  .profile .left-panel .grid-box {
    padding: 15px 30px;
  }

  .intro {
    font-size: 15px;
    padding-top: 8px;
    line-height: 24px;
    max-height: 90px;
  }

  .name,
  .intro {
    margin-left: 200px;
    margin-right: 60px;
  }

  .pure-g-hashtag .name {
    margin-left: 80px;
    margin-right: 160px;
  }

  .contacts {
    width: 60px;
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .pure-g-hashtag .contacts {
    width: 180px;
    text-align: right;
  }

  .contacts a {
    font-size: 21px;
    height: 40px;
    width: 40px;
    padding: 10px;
  }

  .scroll-right, .scroll-left {
    display: block;
  }

  .signin h2 {
    font-size: 22.5px;
  }

  .pure-menu-horizontal > .pure-menu-list > .pure-menu-item {
    line-height: 54px;
  }

  .profile #cover-button {
    display: block;
  }

  .profile #cover-button-left {
    display: none;
  }

  .cover-edit .main,
  .about-edit .main {
    padding-bottom: 180px;
  }

  .bottom-buttons .grid-box {
    padding: 60px 15px;
  }

  .profile #description {
    padding: 0 15px;
    font-size: 21px;
    letter-spacing: 1px;
    line-height: 1.8em;
  }

  .profile .hide,
  header .hide {
    opacity: 0;
    transition: all .3s ease-out;
  }
  .profile .left-panel:hover .hide,
  header:hover .hide,
  .about-box:hover .hide {
    opacity: 1;
  }

}

@media screen and (min-width: 1279px) {
    .pure-u-search  {
      display: inherit;
    }

    .signin .main {
      background-size: 60vh;
      background-position: center 230px;
    }

    .pure-menu-horizontal .pure-menu-item-product {
      display: inherit;
      margin-right: 45px;
    }
}
