/**
/ Lenom MVP CSS
/ Extending Pure CSS (http://purecss.io)
* @Author: Clément Dietschy <clement>
* @Date:   02-10-2017
* @Email:  clement@lenom.io
* @Project: Lenom - Backflip
 * @Last modified by:   clement
 * @Last modified time: 02-10-2017 11:18
* @Copyright: Clément Dietschy 2017
*/


/* Edit page */
.edit {
  background-color: #E6E8EC;
  min-height: 100vh;
}

.pure-form fieldset {
  padding: 0;
  clear: both;
}

.edit .record {
  border-bottom: none;
}

.picture-url-input {
  margin-top: 5px;
}

.errors,
.successes {
  color: #F39C12;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.successes {
  color: #2ECC71;
}

.errors li {
  display: inline-block;
  padding-right: 2em;
}

.edit-love {
  transform: rotate(10deg);
  padding: 60px 0;
}

.edit-love .fa {
  color: #FF2600;
}

.edit-love strong {
  font-weight: normal;
  color: #FF2600;
}

.edit-help {
  margin: 96px 0 0;
  padding: 20px;
  background-color: #F5F7FA;
  border-radius: 10px;
  color: #7F8C8D;
}

.edit-help .fa {
  color: #3498DB;
}

.edit-announcement {
  margin-top: 0;
}


p.validate {
  text-align: center;
}

.save-input {
  color: #ffffff;
  background-color: #2ECC71;
  text-transform: uppercase;
}

.edit .grid-box {
  padding: 20px;
}

.edit .radio-buttons label {
  display: inline-block;
  width: 33%;
  padding: 10px 20px;
  margin: 0;
  background-color: #7F8C8D;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  color: #ffffff;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;
  text-align: center;
}

.edit .radio-buttons#invite-radio label {
  width: 50%;
}

.edit .radio-buttons label:first-child {
  border-radius: 1.2em 0 0 1.2em;
}

.edit .radio-buttons label:last-child {
  border-radius: 0 1.2em 1.2em 0;
}

.edit .radio-buttons label input {
  display: none;
}

.edit .radio-buttons label.checked {
  background-color: #2ECC71;
  font-weight: bold;
}

.edit .radio-buttons label[for="no"].checked {
  background-color: #FF2600;
}

#formBody.formBody-hidden {
  max-height: 0;
}

#formBody {
  max-height: 2000px;
  overflow: hidden;
  transition: 2s;
}

.person #formTag {
  max-height: 0;
}

#formTag {
  max-height: 300px;
  overflow: hidden;
  transition-duration: 0.5s;
}

#formInvite {
  max-height: 0;
  overflow: hidden;
  transition-duration: 0.5s;
}

.person #formInvite {
  max-height: 300px;
}

.edit label {
  font-size: 1.4em;
  color: #7F8C8D;
  padding-left: 20px;
  padding-top: 40px;
}

.edit input[type="text"],
.edit textarea {
  font-size: 1.4em;
  border-radius: 1.2em;
  padding: 10px 20px;
  margin-bottom: 40px;
}

.edit textarea {
  border-bottom-right-radius: 0;
}

.edit .links {
  margin: 20px 20px 0;
}

.edit .links .linkLi {
  font-size: 1.4em;
  padding: 5px 10px;
  display: block;
  border: 1px solid #ccc;
  border-bottom: none;
}

.edit .links .linkLi:first-child {
  border-radius: 1.2em 1.2em 0 0;
}

.edit .links-input {
  margin: 0 20px;
}

.edit .links-input input[type="text"] {
  border-radius: 0;
  margin: 0;
}

.edit .links-input.no-previous-child input:first-child {
  border-radius: 1.2em 1.2em 0 0;
}

.edit .links-input input:last-child {
  border-radius: 0 0 1.2em 1.2em;
}

.edit .new-link {
  border-radius: 1.2em;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  color: #F5F7FA;
  background-color: #7F8C8D;
  margin: 10px 20px;
}

.edit .submit {
  text-align: center;
  margin: 60px 0;
}

.edit .submit button {
  font-size: 1.4em;
  border-radius: 1.2em;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  color: #F5F7FA;
  background-color: #2ECC71;
  margin: auto;
}

/* Upload picture */

.uploadcare--widget {
  width: 100%;
  font-size: 1.4em;
  border: 1px solid #ccc;
  border-radius: 1.2em;
}

.uploadcare--widget_status_ready {
  border: none;
}

.uploadcare--widget__text {
    padding: 10px 20px;
}

.uploadcare--widget__progress {
    padding: 6px 9px;
}

.uploadcare--widget__button,
.uploadcare--button_primary,
.uploadcare--widget__button:hover,
.uploadcare--button_primary:hover,
.uploadcare--widget__button:active,
.uploadcare--button_primary:active,
.uploadcare--widget__button:focus,
.uploadcare--button_primary:focus {
  background-color: #7F8C8D;
  border: none;
  box-shadow: 0 3px 10px rgba(0,0,0,.2);
  border-radius: 1.2em;
}

.uploadcare--widget__button_type_open {
  width: 100%;
  padding: 10px 20px;
}

.source-instagram .big-button {
  border-radius: 2em;
}

.uploadcare--widget__button_type_open:hover,
.uploadcare--button_primary:hover {
  cursor: pointer;
  filter: alpha(opacity=90);
  background-image: -webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
  background-image: linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));
}

.uploadcare--link,
.uploadcare--link:hover,
.uploadcare--link:focus,
.uploadcare--link:active {
  color: #2ECC71;
}

/* edit links */
.links .delete-link,
.links .undelete-link {
  float: right;
  padding-right: 0;
  z-index: 500;
}

.links .undelete-link {
  display: none;
}

.links .deleted {
  opacity: 0.4;
}

.links .deleted .undelete-link {
  display: block;
}

.links .deleted .delete-link {
  display: none;
}


/* Edit description autocomplete */

#description a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 8px 8px 8px;
  background-color: #F5F7FA;
}

.dropdown-menu .textcomplete-item a {
  display: block;
  cursor: pointer;
  color: #7F8C8D;
  position: relative;
  text-decoration: none;
  padding: 3px 10px;
}

.dropdown-menu .textcomplete-item a .record-tag {
  color: #ABB0BB;
  font-size: 0.8em;
}

.dropdown-menu .textcomplete-item:first-child a {
  border-top-right-radius: 8px;
}

.dropdown-menu .textcomplete-item:last-child a {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-menu .textcomplete-item.active a {
  color: #ffffff;
  background: #7F8C8D;
}

.dropdown-menu .textcomplete-item.active a  .record-tag {
  color: #E6E8EC;
}

/* WELCOME */

.white-bg {
  background-color: #FFFFFF;
}

.organisation-name {
  text-transform: uppercase;
  font-size: 4em;
  text-align: center;
  margin: 8px 16px;
  color: #2ECC71;
}

.welcome-gif {
  margin: auto;
}

.welcome-youtube {
  margin-top: 32px;
}

.welcome-youtube p {
  text-align: center;
  color: #000000;
  font-size: 1.4em;
  font-family: 'Architects Daughter', cursive;
}

.welcome-youtube iframe {
  width: 100%;
  border-radius: 10px;
}

@media screen and (min-width: 568px) {

}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1280px) {
}
