footer {
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  padding-top: 32px;
  z-index: 99;
  background-color: #2b2d3c;
}

footer .col {
  text-align: left;
  padding: 16px;
  color: white;
}

footer .wingzy-description img{
  position: relative;
  width: 120%;
  height: auto;
}

footer .wingzy-contact a{
  color: #FFFFFF;
}

footer .wingzy-follow i {
  font-size: 2rem;
  color: white;
  margin-right: 8px;
  margin-top: 5px;
}

footer .red-color {
  color: #FF0018 !important;
  font-weight: 600;
  font-size: .9rem;
}

@media screen and (max-width: 600px) {
  footer .wingzy-description img {
    width: 100%;
  }
}