

/* GENERIC */

/** SOCIAL **/

.social {
    padding: 90px 0 90px;
}

.social .grid-box {
    padding: 30px;
}

/** PRIVACY **/
.privacy .main img {
    margin: auto;
    max-height: 400px;
}

.privacy .placeholder {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: auto;
    font-size: 20px;
}

.privacy .main h2,
.privacy .main strong {
    font-weight: 600;
}

.privacy .main a {
    color: #76cfe7;
}

.privacy .main p {
    margin-bottom: 10px;
}

.privacy .main h3 {
    text-align: left;
}

.privacy a.right {
    display: inline-block;
    color: #ffffff;
    background: #dd362e;
    border-radius: 1em;
    padding: 0px 10px;
    font-weight: 600;
    margin: 3px;
}

.privacy a.right.inactive {
    background: #1d1f1a;
    cursor: default;
}

.privacy a.right.inactive:hover {
    text-decoration: none;
}

.font-black {
    color: black !important;
}


/* FOOTER */
.pure-g {
    margin: 0 auto;
      padding: 0;
    max-width: 640px;
  }
footer {
    width: 100%;
    min-height: 90px;
    background: #2b2d3c;
    z-index: 99;
    padding: 15px 0 60px;
  }
  
  .pure-u-footer-logo div {
    padding: 30px 15px;
  }
  
  .pure-u-footer-logo img {
    height: 40px;
    max-width: none;
  }
  
  .pure-u-footer-twitter div {
    text-align: right;
    padding: 35px 15px;
  }
  
  footer .fa-twitter {
    color: #ffffff;
    font-size: 30px;
  }
  
  .pure-u-footer-menu div {
    padding: 25px 0;
  }
  
  footer p {
    color: #ffffff;
    padding: 5px;
    text-align: center;
  }
  
  .pure-u-footer-menu a {
    color: #ffffff;
    padding: 5px;
    display: block;
    text-align: center;
  }