
/* GENERIC */

.home header {
  position: relative;
  background: #ffffff;
}

.home footer {
  background: #c7bcbf;
}

.home .main {
  padding: 0;
  font-size: 20px;
  background: #ffffff;
  border-bottom: 3px solid #ffffff;
}

.home .pure-g {
  max-width: 1280px;
}

.home h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 44px;
}
.home h2 {
  text-align: center;
  text-transform: uppercase;
  margin: auto;
  color: #c7bcbf;
  font-size: 28px;
  padding: 0;
  text-align: center;
  font-weight: 400;
}
.home h2 strong {
  color: #1d1f1a;
  font-weight: 400;
}

.home h3 {
  text-align: center;
  font-size: 24px;
  padding: 0;
  text-align: center;
}

/* EPIC */
.home .epic .epic-placeholder {
  min-height: 135vw;
  background-image: url('/images/home/epic.jpg');
  background-size: 100% auto;
  background-position: left 0px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  margin-bottom: 60px;
}

.home .epic h1 {
  color: #dd362e;
  margin: auto;
  font-size: 44px;
  line-height: 1em;
  letter-spacing: 3px;
  margin-bottom: 30px;
  text-align: center;
}

.home .epic h1 span {
  width: 5em;
  display: none;
}

.home .epic h3 {
  box-sizing: border-box;
  margin: auto;
}

.home .epic p {
  font-size: 24px;
  margin-top: 15px;
  text-align: right;
}


img.wingzy-full {
  display: block;
  margin: 0 auto;
  max-width: 60%;
}

/* SIGNIN */
.home .pure-g-signin,
.home .pure-g-anyone {
  max-width: 500px;
}

.home .pure-g-anyone {
  margin-top: 120px;
}

/* WINGS */
.home .wings {
  padding: 120px 0;
  margin-top: 120px;
  background-image: url('/images/home/wings.jpg');
  background-color: #f2f2f2;
  background-position: 5vw 5vw;
  background-repeat: no-repeat;
  background-size: 90vw auto;
}


.home .wings .wings-placeholder {
  min-height: 65vw;
  box-sizing: border-box;
}

.home .screenshot {
  display: block;
  margin: 0 auto;
  max-width: 80%;
  border: 5px solid #c7bcbf;
  border-radius: 5px;
}

.home .wings .screenshot {
  margin-top: 45px;
}

.home .screenshot.placeholder {
  width: 500px;
  height: 250px;
  box-sizing: border-box;
  background: #c7bcbf;
  color: #ffffff;
  text-align: center;
  padding: 45px;
}

/* SEARCH */
.home .search {
  padding: 120px 0 180px;
  position: relative;
}

.home .search img.screenshot {
  margin-top: 0;
}

.home .books {
  position: absolute;
  bottom: -40px;
  left: 40px;
  height: 118px;
  width: 320px;
  background-image: url('/images/home/books.jpg');
  background-size: 320px 118px;
  background-repeat: no-repeat;
  z-index: 1;
}

/* AVAILABILITY */
.home .availability {
  background-color: #f2f2f2;
  padding: 120px 0 180px;
  position: relative;
}

.home .coffee {
  position: absolute;
  bottom: -48px;
  right: 40px;
  height: 116px;
  width: 320px;
  background-image: url('/images/home/coffee.jpg');
  background-size: 320px 116px;
  background-repeat: no-repeat;
  z-index: 1;
}

/* MORE */
.home .more {
  padding: 120px 0;
}

.home .more .more-item {
  font-size: 24px;
  margin-top: 30px;
  text-align: center;
}

.second-signin {
  margin-top: 120px;
}

@media screen and (min-width: 639px) {
  .home .epic .epic-placeholder {
    min-height: 45vw;
    margin-bottom: 0;
  }
  .home .epic h1 {
    font-size: 42px;
    margin-top: 12%;
    margin-bottom: 12%;
  }
  .home .epic h1 span {
    display: inline-block;
  }
  .home .epic h3 {
    max-width: 80%;
  }
  .home .wings {
    background-position: -10vw bottom;
    background-size: 65vw auto;
  }

  .home .wings .wings-placeholder {
    min-height: inherit;
  }

  .second-signin {
    margin-top: 0;
  }
}

@media screen and (min-width: 1279px) {
  .home h1 {
    margin-top: 30px;
    font-size: 48px;
  }
  .home h2 {
    font-size: 32px;
  }
  .home .epic {
    min-height: 80vh;
    background-image: url('/images/home/epic.jpg');
    background-size: auto 80vh;
    background-position: left 0px;
    background-repeat: no-repeat;
  }
  .home .epic .epic-placeholder {
    background: none;
  }
  .home .epic h1 {
    font-size: 80px;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .home .epic h3 {
    max-width: 60%;
  }
  .home .books {
    bottom: -80px;
    left: 80px;
    height: 236px;
    width: 640px;
    background-size: 640px 236px;
  }
  .home .coffee {
    bottom: -96px;
    right: 80px;
    height: 232px;
    width: 640px;
    background-size: 640px 232px;
  }
}
