

/* GENERIC */

/** SOCIAL **/

.social {
    padding: 90px 0 90px;
}

.social .grid-box {
    padding: 30px;
}

/** PRIVACY **/
.privacy .main img {
    margin: auto;
    max-height: 400px;
}

.privacy .placeholder {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin: auto;
    font-size: 20px;
}

.privacy .main h2,
.privacy .main strong {
    font-weight: 600;
}

.privacy .main a {
    color: #76cfe7;
}

.privacy .main p {
    margin-bottom: 10px;
}

.privacy .main h3 {
    text-align: left;
}

.privacy a.right {
    display: inline-block;
    color: #ffffff;
    background: #dd362e;
    border-radius: 1em;
    padding: 0px 10px;
    font-weight: 600;
    margin: 3px;
}

.privacy a.right.inactive {
    background: #1d1f1a;
    cursor: default;
}

.privacy a.right.inactive:hover {
    text-decoration: none;
}

.font-black {
    color: black !important;
}