/**
/ Lenom MVP CSS
/ Extending Pure CSS (http://purecss.io)
* @Author: Clément Dietschy <clement>
* @Date:   16-03-2017
* @Email:  clement@lenom.io
* @Project: Lenom - Backflip
* @Last modified by:   clement
* @Last modified time: 10-04-2017 05:58
* @Copyright: Clément Dietschy 2017
*/

/*
/ @todo Export Pure CSS with minimum modules & 5 column grid.
/ @todo Integrate this to the above
/ @todo Do the <64rem mobile version
/ @todo Express all distances in rem
/ @todo Rewrite search field
*/

/* basic styling */

html, button, input, select, textarea, .pure-g,
.pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: normal;
}

textarea:focus, input:focus{
    outline: none;
}

body {
  color: #474B54;
}

a {
	color: #ABB0BB;
	text-decoration: none;
}

h2 {
	margin: 0;
	padding: 0;
  line-height: 1em;
}

h2, .name-input {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
}

h3 {
  margin-bottom: 0;
}

/* extension of the grid */

.pure-g {
	padding: 16px;
}

.person .pure-g {
	border-bottom: 3px solid #F5F7FA;
}

.team {
  background-color: #f0f0ff;
  border-bottom: 3px solid #F5F7FA;
}

.hashtag {
  background-color: #fff0f0;
  border-bottom: 3px solid #F5F7FA;
}

.central > h2,
.central > p,
.central > div,
.central > fieldset {
  padding-left: 16px;
}

.logo,
.menu {
  display: none;
}

.grid-box {
  padding: 1em;
}

/* homepage */

.tagline {
  text-transform: uppercase;
  font-weight: lighter;
  text-align: center;
  color: #33374C;
  font-size: 1em;
  letter-spacing: 0.15em;
  margin: 0;
}

.playstop .fa {
  color: #2ECC71;
}

.playstop .pure-button {
  background-color: #2ECC71;
  color: #ffffff;
}

.demo .fa {
  color: #FF2600;
}

.demo:hover .fa,
.playstop:hover .fa,
.twitter:hover .fa {
  	transform: scale(1.5);
    transition-duration: 0.3s;
}

.triptic p {
  text-align: center;
}


/* header */

header {
	height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
	background-color: #33374C;
}

header .pure-g {
  padding: 0 16px;
}

header a,
header .pure-menu-link {
  color: #FFFFFF;
}

header a:hover,
footer a:hover,
header a:hover .fa,
footer a:hover .fa {
  color: #FF2600;
}

header .fa { color: #FFFFFF }


.logo img {
  padding-top: 10px;
  height: 44px;
}

.logo-small {
    float: right;
    margin-top: -2px;
}

.logo-small img {
  height: 44px;
  width: 44px;
}

#search-box {
	padding-top: 12px;
}

.search-input {
  width: 70%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 7px 14px;
  border: 3px solid #FFFFFF;
  border-radius: 20px;
  background-color: transparent;
  color: #FFFFFF;
}

.search-input:focus {
  background: #ffffff;
  color: #33374C;
}

.search-input::-webkit-input-placeholder { color: #FFFFFF; }
.search-input:-ms-input-placeholder { color: #FFFFFF; }
.search-input::-moz-placeholder { color: #FFFFFF; opacity: 1; }
.search-input:-moz-placeholder { color: #FFFFFF; }

.menu {
	padding-top: 14px;
	text-transform: uppercase;
	font-weight: lighter;
}

.menu .pure-menu-horizontal {
  text-align: right;
}

.menu a:hover,
.menu a:active,
.menu a:focus {
	background: none;
}

/* impersonate banner */
.impersonate {
  position: fixed;
  bottom: 0;
  width: 100%;
  opacity: 0.7;
  z-index: 2000;
  text-transform: uppercase;
  font-size: 0.6em;
  padding: 5px;
  background-color: #F39C12;
  color: #ffffff;
  text-align: center;
}

.impersonate a {
  color: #FF2600;
}

/* left panel */
#left-panel-opener {
  position: fixed;
  left: 0;
  top: 64px;
  z-index: 850;
  color: #7F8C8D;
  background-color: #F5F7FA;
  text-align: center;
  font-size: 2.5em;
  height: 1.5em;
  width: 1.5em;
  border-bottom: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  border-top: 3px solid #ffffff;
  border-radius: 0 0 1em 0;
}

#left-panel-closer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 950;
  color: #7F8C8D;
  text-align: center;
  font-size: 2.5em;
  height: 1.5em;
  width: 1.5em;
  border-bottom: 3px solid #ffffff;
  border-left: 3px solid #ffffff;
  border-radius: 0 0 0 1em;
}

#left-panel-opener:hover {
  cursor: pointer;
  padding-left: 1em;
  transition-duration: 0.3s;
  color: #474B54;
}

#left-panel-closer:hover {
  cursor: pointer;
  padding-right: 1em;
  transition-duration: 0.3s;
  color: #474B54;
}

#left-panel {
  position: fixed;
  left: 0;
  top: 64px;
  bottom: 0;
  background-color: #F5F7FA;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  color: #7F8C8D;
  font-size: 1em;
  width: 16em;
  margin-left: -16.3em;
  z-index: 900;
  overflow-x: hidden;
  transition: margin 1s;
}

#left-panel.open {
  margin-left: 0;
}

#within {
  margin-top: 2em;
}

.ais-header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
  padding: 2em 1em 0.5em 1em;
}

.ais-refinement-list--checkbox {
  display: none;
}

.ais-refinement-list--count {
  float: right;
  font-size: 0.8em;
  color: #ABB0BB;
}

.ais-refinement-list--item {
  padding: 0.2em 1em;
  margin-bottom: 1px;
}

.ais-refinement-list--item:hover {
  cursor: pointer;
  background: #CCD0D8;
}

.ais-refinement-list--item__active {
  background: #2ECC71;
  color: #F5F7FA;
}

.ais-refinement-list--item__active:hover {
  background-color: #F1C40F;
}

.ais-refinement-list--item__active .ais-refinement-list--count {
  color: #E6E8EC;
}

#clear-all {
  margin-top: 2em;
}

.ais-clear-all--link {
  text-align: center;
  color: #F1C40F;
  text-transform: uppercase;
  font-size: 0.8em;
}

#left-panel .sbx-sffv {
  height: auto;
}

#left-panel .sbx-sffv__wrapper {
  padding: 0.2em 1em;
  height: auto;
  width: auto;
}

#left-panel .sbx-sffv__input {
  display: block;
  padding: 0.2em 1em;
  border: 2px solid #ABB0BB;
  background: transparent;
  border-radius: 1em;
  color: #ABB0BB;
  box-shadow: none;
  font-size: 1em;
  height: auto;
  width: 14em;
  transition: none;
}

#left-panel .sbx-sffv__input:focus {
  background: #ffffff;
  color: #474B54;
}

#left-panel .sbx-sffv__input::-webkit-input-placeholder { color: #ABB0BB; }
#left-panel .sbx-sffv__input:-ms-input-placeholder { color: #ABB0BB; }
#left-panel .sbx-sffv__input::-moz-placeholder { color: #ABB0BB; opacity: 1; }
#left-panel .sbx-sffv__input:-moz-placeholder { color: #ABB0BB; }

#left-panel .sbx-sffv__submit,
#left-panel .sbx-sffv__reset {
  display: none;
}

/* search-results */

.main {
  margin-top: 64px;
}

/* Item */

.thumb {
  height: 18vw;
  width: 18vw;
  max-height: 198px;
  max-width: 198px;
  overflow: hidden;
}

.person .thumb {
	border-radius: 50%;
}

.thumb img {
  width: 18vw;
  max-width: 198px;
}

.org-demo .person .thumb img {
  margin-top: -3vw;
}

.invisible .thumb {
  border-radius: 0;
}

.invisible .thumb img {
  margin-top: 0
}

.tag {
  text-align: center;
  margin: 2px;
  font-size: 0.6em;
  color: #ABB0BB;
  overflow: hidden;
}

.tag:hover {
  color: #FF2600;
}

.reward {
  margin: 0;
  font-size: 3em;
  line-height: 1em;
  text-align: center;
  color: #FF2600;
}

.triptic .reward {
  color: #CCD0D8;
}

.reward .fa {
  width: auto;
}

.mobile-screenshot {
  text-align: center;
}

.mobile-screenshot img {
  max-width: 100%;
}

.error-code {
  color: #F5F7FA;
}

.reference {
  margin: 0;
}

.description {
  margin: 0;
  margin-top: 0.3em;
}

.description,
.description-input {
  	line-height: 1.5em;
    font-size: 0.8em;
}

.description a:hover {
	color: #FF2600;
}

.item p.full {
  display:none;
  max-height: 10em;
  overflow: auto;
}

#search-results em {
	font-style: normal;
  font-weight: bold;
}

/** social */

.pure-menu-item.extraLink {
  display: none;
}

.links .pure-menu-list {
  display: block;
}

.links .pure-menu-link {
  font-size: 1.5em;
  padding: 0.15em 0.3em;
  color: #474B54;
  opacity: 0.3;
	text-decoration: none;
}

.link-text {
  padding-left: 0.5em;
  display: none;
}

.fa {
  width: 1.2em;
  text-align: center;
}

.links .pure-menu-link:hover .fa {
	transform: scale(1.5);
  transition-duration: 0.3s;
}

.links .pure-menu-link:hover,
.links .pure-menu-link:focus {
	background: none;
  opacity: 1;
  overflow:visible;
}

.fa-bitbucket,.fa-bitbucket-square{color:#003366;}
.fa-dribbble{color:#F46899;}
.fa-dropbox{color:#018BD3;}
.fa-facebook,.fa-facebook-square{color:#3C599F;}
.fa-flickr{color:#FF0084;}
.fa-foursquare{color:#0086BE;}
.fa-github,.fa-github-alt,.fa-github-square{color:#070709;}
.fa-google-plus,.fa-google-plus-square{color:#CF3D2E;}
.fa-instagram{color:#A1755C;}
.fa-linkedin,.fa-linkedin-square{color:#0085AE;}
.fa-pinterest,.fa-pinterest-square{color:#CC2127;}
.fa-renren{color:#025DAC;}
.fa-skype{color:#01AEF2;}
.fa-stack-exchange{color:#245590;}
.fa-stack-overflow{color:#FF7300;}
.fa-trello{color:#265A7F;}
.fa-tumblr,.fa-tumblr-square{color:#314E6C;}
.fa-twitter,.fa-twitter-square{color:#32CCFE;}
.fa-vimeo{color:#229ACC;}
.fa-vk{color:#375474;}
.fa-weibo{color:#D72B2B;}
.fa-xing,.fa-xing-square{color:#00555C;}
.fa-youtube,.fa-youtube-play,.fa-youtube-square{color:#C52F30;}
.fa-whatsapp{color:#25D366;}
.fa-slack{color:#5C3A58;}
.fa-google{color:#FBBC05;}
.fa-envelope-o, .fa-envelope{color:#dd4b39;}
.fa-phone{color:#007F3F;}
.fa-map-marker{color:#DC4A3E;}
.fa-road{color:#FBCF06;}
.fa-map{color:#FC646F;}
.fa-comment{color:#056E7D;}
.fa-folder, .fa-file{color:#4285F4;}

.searcher, .expander, .collapser, a {
  cursor: pointer;
}

/* expander */

.item.expanded .pure-menu-item.expander {
  display: none;
}

/* collapser */
.pure-menu-item.collapser {
  display: none;
  text-align: right;
}

.item.expanded .collapser {
  display: inline;
}

.pure-menu-item.expander {
  float: right;
}


/* expanded */
.item.expanded p.full {
  display:block;
}

.item.expanded p.snippet {
  display:none;
}

.item.expanded .pure-menu-item,
.item.expended .pure-menu-item.extraLink {
  display: inline;
}

.item.expanded .link-text {
  display: inline;
}

.item.expanded .links .pure-menu-link {
  font-size: 1em;
  padding: 0.1em 0.2em;
}

.item.expanded .links .collapser .pure-menu-link {
  font-size: 1.5em;
  padding: 0em 0.3em;
}

.item.expanded .links {
  margin-top: 0.3em;
}

/* Show more */
.ais-infinite-hits--showmore {
  margin-bottom: 5em;
  text-align: center;
}

.ais-infinite-hits--showmore button {
      display: inline-block;
      vertical-align: middle;
      text-align: center;
      padding: .2em 1em .5em 1em;
      text-transform: uppercase;
      font-size: 1.5em;
      border: transparent;
      color: #7F8C8D;
      background-color: #F5F7FA;
      text-decoration: none;
      border-radius: 0 0 20px 20px ;
}

.ais-infinite-hits--showmore button:hover {
  padding-top: 1.2em;
  transition-duration: 0.3s;
  color: #474B54;
}

.ais-infinite-hits--showmore button:disabled {
  display: none;
}

/* footer */
footer {
  text-align: center;
  position: absolute;
  padding-bottom: 1em;
  bottom: auto;
  width: 100%;
  font-size: 0.7em;
  z-index: 950
}

/* Compose page */
.pure-form fieldset {
  padding-top: 0;
}

.compose .tagline {
  color: #2ECC71;
}

.compose .person .pure-g {
  border-bottom: none;
}

.compose p.validate {
  text-align: center;
}

.save-input {
  color: #ffffff;
  background-color: #2ECC71;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5em;
}

.errors,
.successes {
  color: #F39C12;
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.successes {
  color: #2ECC71;
}

.errors li {
  display: inline-block;
  padding-right: 2em;
}

/* compose links */
.delete-link {
  float: right;
  text-transform: uppercase;
}

.create-link {
  text-transform: uppercase;
}

.link.deleted span.link-text {
  text-decoration: line-through;
}

/* 568px and above */
@media screen and (min-width: 35.5em) {
  .search-input {
    width: 80%;
  }

  .description,
  .description-input {
    font-size: 1em;
  }

  h2, .name-input {
    font-size: 1.8em;
  }


  .tag {
    font-size: 0.8em;
  }

  .tagline {
    font-size: 1.6em;
  }

  .reward {
    font-size: 6em;
  }

  .links .pure-menu-link  {
    font-size: 1.9em;
    padding: 0.19em 0.38em;
  }

  .item.expanded .links .pure-menu-link {
    font-size: 1.2em;
    padding: 0.12em 0.24em;
  }

  .item.expanded .links .collapser .pure-menu-link {
    font-size: 1.9em;
    padding: 0em 0.38em;
  }
}

/* 768px and above */
@media screen and (min-width: 48em) {

  .logo-small {
      display: none;
  }

  .search-input {
    width: 95%;
  }

  h2, .name-input {
    font-size: 2.2em;
  }

  .tagline {
    font-size: 2.2em;
  }

  .logo,
  .menu {
  	display: block;
  }

  .triptic p {
    text-align: left;
  }

  .triptic .reward {
    text-align: center;
  }

  .reward {
    font-size: 8em;
  }

  .links .pure-menu-link {
    font-size: 2.2em;
    padding: 0.22em 0.44em;
  }

  .item.expanded .links .pure-menu-link {
    font-size: 1.3em;
    padding: 0.13em 0.26em;
  }

  .item.expanded .links .collapser .pure-menu-link {
    font-size: 2.2em;
    padding: 0em 0.44em;
  }

}

/* 1024px and above */
@media screen and (min-width: 64em) {

  .pure-g {
    margin: 0 auto;
    max-width: 62rem;
  }

  h2, .name-input {
    font-size: 2.6em;
  }

  .tagline {
    font-size: 3em;
  }

  .reward {
    font-size: 10em;
  }

  .links .pure-menu-link {
    font-size: 2.5em;
    padding: 0.25em 0.5em;
  }

  .item.expanded .links .pure-menu-link {
    font-size: 1.5em;
    padding: 0.15em 0.3em;
  }

  .item.expanded .links .collapser .pure-menu-link {
    font-size: 2.5em;
    padding: 0em 0.5em;
  }

}



/* utils */

.align-right {
  text-align: right;
}

.align-center,
.triptic p.align-center {
  text-align: center;
}
