.onboard header {
  position: absolute;
}

.onboard-welcome header {
  border-bottom: none;
}

.pure-u-menu > div {
  padding: 20px 15px 0;
  text-align: right;
}

a.step {
  display: inline-block;
  margin-left: 0;
}

a.step.active {
  transform: scale(1.2);
}

a.step span {
  display: none;
  text-align: center;
  font-size: 12px;
  color: #c7bcbf;
  font-weight: 600;
}

a.step span > strong {
  font-weight: 300;
  margin-right: 5px;
}

a.step img {
  display: block;
  height: 30px;
  width: 30px;
}

a.step img:first-child {
  position: absolute;
  opacity: 0;
}

a.step.active img:first-child,
a.step:hover img:first-child {
  opacity: 1;
}

a.step.active span,
a.step:hover span {
  color: #dd362e;
}

.onboard h1 {
  text-align: center;
  margin: 0;
  font-size: 22.5px;
  font-weight: 700;
  padding: 0 30px 15px;
}

.onboard h2 {
  text-align: center;
  margin: 0;
  font-size: 15px;
  font-weight: 400;
  padding: 0 30px 30px;
}

.onboard label {
  padding-left: 15px;
}

.onboard form input[type="email"][disabled] {
  background: none;
  border: none;
  height: auto;
  padding: 0 8px;
  margin-bottom: 25px;
  color: #5c4d51;
}

.onboard .main {
  padding-bottom: 180px;
}

/** WELCOME **/
.onboard-welcome .main {
  background-image: url('/images/wings.jpg');
  background-position: center 220px;
  background-repeat: no-repeat;
  background-size: 60vh;
  background-color: #ffffff;
}

.onboard-welcome .bottom-buttons .grid-box {
  padding-bottom: 0;
}

/** INTRO **/
.onboard-intro .picture {
  float: none;
  margin: auto;
  position: relative;
  height: 40vw;
  width: 40vw;
}

.onboard-intro .picture img {
  width: 40vw;
}

.uploadcare--widget {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.uploadcare--widget__text {
  display: none;
}

.uploadcare--widget button {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 100;
  font-weight: 700;
  text-align: center;
  font-size: 20px;
  white-space: normal;
  background-color: #a4c5cb;
  color: #ffffff;
}

.uploadcare--widget button:hover,
.uploadcare--widget button:active,
.uploadcare--widget button:focus {
  font-weight: 700;
  font-size: 20px;
  background-color: #a4c5cb;
  color: #ffffff;
  cursor: pointer;
}

.image-preview-single img {
  z-index: 50;
}

.uploadcare--widget button.uploadcare--widget__button_type_remove {
  background: none;
  opacity: 0;
}

.uploadcare--widget button.uploadcare--widget__button_type_remove:hover,
.uploadcare--widget button.uploadcare--widget__button_type_remove:active,
.uploadcare--widget button.uploadcare--widget__button_type_remove:focus {
  background-color: #a4c5cb;
  opacity: 0.7;
}

.uploadcare--widget__button_type_cancel {
  display: none;
}

.onboard-intro .picture:hover {
  transform: scale(1.2);
  background-image: none;
}

.onboard-intro .picture {
  transition: all .3s ease-out;
}

.uploadcare--widget__progress {
  width: 100%;
  height: 100%;
}

.onboard-intro .uploadcare--progress_type_canvas {
  color: #dd362e;
}

/* Edit description autocomplete */
#description a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}

.dropdown-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  border-radius: 0 15px 15px 15px;
  background-color: #ffffff;
  border: 2px solid #dd362e;
  background-color: #f6f4f4;
  overflow: hidden;
}

.dropdown-menu .textcomplete-item a {
  display: block;
  cursor: pointer;
  border-top: 1px solid #a4c5cb;
  color: #5c4d51;
  position: relative;
  text-decoration: none;
  padding: 10px 20px;
}

.dropdown-menu .textcomplete-item:first-child a {
  border-top: none;
}

.dropdown-menu .textcomplete-item a em {
  font-weight: 800;
}

.dropdown-menu .textcomplete-item.active a {
  color: #ffffff;
  background: #dd362e;
}

.onboard form .wings-checkboxes-label {
  padding-bottom: 0;
}

#wings-checkboxes {
  padding: 0 25px;
  box-sizing: border-box;
}

#wings-checkboxes input[type="checkbox"] {
  display: none;
}

#wings-checkboxes .wings-label {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 30px;
  transition: all .3s ease-out;
  margin: 0;
  padding: 15px;
}

.wings-label > div {
  max-width: 120px;
  margin: auto;
  border-radius: 50%;
  line-height: 0;
  transition: all .3s ease-out;
}

.wings-label.checked {
  color: #dd362e;
}

.wings-label.checked > div {
  background-color: #dd362e;
}

.wings-label img {
  transition: all .3s ease;
  max-width: 100%;
}

.wings-label:hover img,
.wings-label.checked img {
  transform: scale(1.2);
}

/* HASHTAGS */
label[for="hashtag"],
label[for="link-input"] {
  font-size: 25px;
  margin-bottom: 50px;
}

.suggested {
  padding: 30px 30px 0;
}

.onboard .hashtag,
.onboard .link {
  cursor: move;
}

.sortable-drag {
  color: #ffffff;
  background-color: #dd362e;
  border-color: #dd362e;
}

.sortable-ghost {
  color: #dd362e;
  background-color: #dd362e;
  border-color: #dd362e;
  opacity: 0.3;
}

.sortable-ghost img,
.sortable-ghost .fa,
.sortable-ghost .js-remove {
  visibility: hidden;
}

.sortable-chosen.added {
  animation: none;
}

#modal-layer {
  background-color: #f6f4f4;
}


@keyframes added {
	0% {
    background-color: #a4c5cb;
  }
	30% {
    background-color: #dd362e;
  }
	100% {
    background-color: #a4c5cb;
  }
}

/* Links */

#type-selector {
  margin: 0;
  padding: 0 30px;
}

#type-selector li {
  position: relative;
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  padding: 5px 12px;
  margin: 0 -10px 0 0;
  width: 14vw;
  max-width: 60px;
  box-sizing: border-box;
  text-align: center;
  border-radius: 20px 20px 0 0;
  border: 2px solid #a4c5cb;
  color: #ffffff;
  background-color: #a4c5cb;
  border-bottom: none;
  cursor: pointer;
}

#type-selector li .fa {
  color: #ffffff;
}

#type-selector li.selected {
  color: #ffffff;
  background-color: #dd362e;
  border-color: #dd362e;
  z-index: 100;
}

#type-selector li.selected .fa {
  color: #ffffff;
}

#plus-button {
  cursor: pointer;
}

#link-input.twitter {
  border-color: #32CCFE;
}

#plus-button.twitter {
 color: #32CCFE;
}

li#twitter-selector.selected {
  background-color: #32CCFE;
  border-color: #32CCFE;
}

#link-input.linkedin {
  border-color: #0085AE;
}

#plus-button.linkedin {
 color: #0085AE;
}

li#linkedin-selector.selected {
  background-color: #0085AE;
  border-color: #0085AE;
}

#link-input.facebook {
  border-color: #3C599F;
}

#plus-button.facebook {
 color: #3C599F;
}

li#facebook-selector.selected {
  background-color: #3C599F;
  border-color: #3C599F;
}

#type-selector li span {
  display: none;
}

@media screen and (min-width: 639px) {
  #type-selector li span {
    display: inline;
  }

  #type-selector li {
    width: auto;
    min-width: 60px;
    max-width: none;
    padding: 5px 20px;
  }

  .onboard h2 {
    font-size: 22.5px;
  }

  .onboard .pure-u-menu > div {
    padding: 30px 15px 0;
    text-align: right;
  }

  a.step {
    margin-left: 20px;
  }

  a.step span {
    display: block;
  }

  a.step img {
    height: 50px;
    width: 50px;
  }

  a.step span > strong {
    display: none;
  }
}

@media screen and (min-width: 1279px) {
  .onboard-welcome .main {
    background-size: 75vh;
  }

  .illustration {
      position: absolute;
      left: 0;
      bottom: 40px;
      z-index: 1;
      background-position: bottom left;
      background-repeat: no-repeat;
      background-size: 320px;
      width: 320px;
      height: 320px;
  }
  .cat {background-image: url('/images/cat.png'); right: 0; left: auto;}
  .birds {background-image: url('/images/birds.png'); height: 640px; top: 100px; bottom: auto;}
  .tea {background-image: url('/images/tea.png'); top: 200px; bottom: auto;}
}
