<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Notre Charte de Confidentialité et nos Conditions Générales d'Utilisation arrivent bientôt !</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="grid-box">
        <p>Wingzy SAS est en cours de création et nous préparons une charte de confidentialité révolutionnaire : courte, claire, illustrée, et bien entendu en total respect de vos données personnelles et la nouvelles loi RGPD.</p>
        <p>Nos Conditions Générales d'Utilisation suivront ces même valeurs de transparence et facilité.</p>
        <h2>Rendez-vous le 25 mai !</h2>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="grid-box">
        <img class="pure-img" src='/images/cat.png'>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
    </div>
    <div class="pure-u-1-2">
      <div class="grid-box">
        <h2>Nous contacter</h2>
        <p>En attendant, vous avez un contrôle total sur vos données, contactez-nous:</p>
        <p class="align-center"><strong>
          Wingzy<br>
          Clément Dietschy<br>
          2 rue Jean Moulin<br>
          93260 Les Lilas<br>
          France<br>
          <a href="mailto:support@wingzy.io">support@wingzy.io</a><br>
        </strong></p>
      </div>
    </div>
  </div>
</div>
