<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Protégeons les Dodos !</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="grid-box">
        <div class="placeholder">NUÉE DE DODOS</div>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="grid-box">
        <p>Voici la charte de confidentialité des Wingzy. Un document officiel et légal, mais aussi clair et léger, pour vous donner le plein pouvoir sur vos données à caractère personnel, vos Dodos. Protéger vos Dodos, c'est un droit fondamental !</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="grid-box">
        <div class="placeholder">L'UTILISATEUR</div>
        <h2>VOUS</h2>
        <p>êtes une personne physique (même si vous faites rarement du sport), avez plus de 16 ans, utilisez un ou plusieurs Wingzy et avez donc accepté <a href="/terms">nos conditions d'utilisation</a>, c'est o·bli·ga·toire !</p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="grid-box">
        <img class="pure-img" src="/wingzy_256.png">
        <h2>NOUS</h2>
        <p>
          sommes <strong>Wingzy SAS</strong><br>
          Société en cours d'immatriculation<br>
          21 rue de Cléry - 75002 - Paris<br>
          <a href="mailto:support@wingzy.io">support@wingzy.io</a> (on vous répond en 1 semaine)<br>
          Nous fabriquons les Wingzy avec amour et sommes donc responsables du traitement de vos données.
        </p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-3">
      <div class="grid-box">
        <div class="placeholder">Votre Organisation</div>
        <h2>Votre Organisation</h2>
        <p>C'est un groupe de personnes qui utilisent un Wingzy pour partager ce qu'ils savent et aiment faire.</p>
        <p>Votre organisation est peut-être aussi une personnes morale comme une entreprise dont vous êtes employé ou une association dont vous êtes membre, ou c'est peut-être juste un groupe de pôtes (ou même les 3?).</p>
        <p>Comme chaque Organisation a son Wingzy imperméable et indépendant, vous avez peut-être plusieurs Wingzy avec des Dodos de profils différents. Mais ici on ne parle que d'une Organisation et son Wingzy.</p>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="grid-box">
        <div class="placeholder">Vos Collègues</div>
        <h2>Vos Collègues</h2>
        <p>sont les personnes physiques qui utilisent le Wingzy de votre Organisation. Pour cela, elles doivent soit posséder un email avec un domaine autorisé par votre Organisation, ou être invitées.</p>
      </div>
    </div>
    <div class="pure-u-1-3">
      <div class="grid-box">
        <div class="placeholder">La CNIL</div>
        <h2>La CNIL</h2>
        <p>ou Commission nationale de l'informatique et des libertés, est là pour vous informer et vous protéger. En cas de besoin, ou de problème, rendez-vous sur leur site (très complet!) <a href="https://www.cnil.fr/">cnil.fr</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Les Dodos de profil</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-2">
      <div class="grid-box">
        <div class="placeholder">DODOS IDENTITÉ ET CONTACT</div>
        <h2>Vos Dodos d'identité et de contact</h2>
        <p>Votre photo, nom complèt, votre rôle dans l'Organisation et vos information de contact : emails, téléphones, adresses, réseaux sociaux.</p>
      </div>
    </div>
    <div class="pure-u-1-2">
      <div class="grid-box">
        <div class="placeholder">DODOS CARACTERISTIQUES</div>
        <h2>Vos Dodos caractéristiques</h2>
        <p>Vos Wings : compétences, passions, savoir-faire, intérêts... et tout autre information que vous partagez, comme dans la zone "à propos".</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h2>D'où viennent ces dodos ?</h2>
        <p><strong>Vous</strong> remplissez les Dodos de votre profil comme vous le sentez sur Wingzy. C'est assez malin, puisque c'est exactement à ça que sert Wingzy, comme expliqué dans le Contrat d'utilisation.</p>
        <p><strong>Vos Collègues et votre Organisation </strong> peuvent vous proposer des Dodos. Bien sûr, vous pouvez modifier ou supprimer ces Dodos à tout moment.</p>
        <p><strong>Certains Services</strong> comme LinkedIn, Fullcontact, Twitter, ou Google, peuvent aussi être utilisés pour vous proposer des Dodos.</p>
      </div>
      <div class="grid-box">
        <h2>Où vont ces dodos ?</h2>
        <p><strong>Vous</strong> accédez à TOUTES vos Dodos de profil à tout moment. CLIQUEZ ICI</p>
        <p><strong>Vos Collègues et votre Organisation </strong> accèdent à vos Dodos sur les apps et API Wingzy. C'est ça la raison d'être de Wingzy, c'est dans le Contrat d'utilisation.</p>
        <p><strong>Nous</strong> accédons à vos Dodos uniquement pour nous permettre d'améliorer Wingzy, en apprenant quelles Wings sont intéressantes par exemple.</p>
        <p><strong>Nous</strong> utilisons vos Dodos pour fabriquer, une fois par mois, un email d'animation de votre Organisation.</p>
      </div>
    </div>
  </div>
</div>
