<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Protégeons les Dodos&nbsp;!</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <p>Voici la charte de confidentialité des Wingzy. Un document officiel et légal, mais aussi clair et léger, pour vous donner le plein pouvoir sur vos données à caractère personnel, vos Dodos. Protéger vos Dodos, c'est un droit fondamental&nbsp;!</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vous</h2>
        <p>êtes une personne physique (même si vous faites rarement du sport), avez plus de 16 ans, utilisez un ou plusieurs Wingzy et avez donc accepté <a href="/terms">nos conditions d'utilisation</a>, c'est o·bli·ga·toire&nbsp;!</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <img class="pure-img" src="/wingzy_256.png">
        <h2>Nous</h2>
        <p>
          sommes <strong>Wingzy SAS</strong><br>
          Société en cours d'immatriculation<br>
          21 rue de Cléry - 75002 - Paris<br>
          <a href="mailto:support@wingzy.io">support@wingzy.io</a> (on vous répond en 1 semaine)<br>
          Nous fabriquons les Wingzy avec amour et sommes donc responsables du traitement de vos données.
        </p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Votre Organisation</h2>
        <p>C'est un groupe de personnes qui utilisent un Wingzy pour partager ce qu'ils savent et aiment faire.</p>
        <p>Votre organisation est peut-être aussi une personnes morale comme une entreprise dont vous êtes employé ou une association dont vous êtes membre, ou c'est peut-être juste un groupe de pôtes (ou même les 3?).</p>
        <p>Comme chaque Organisation a son Wingzy imperméable et indépendant, vous avez peut-être plusieurs Wingzy avec des Dodos de profils différents. Mais ici on ne parle que d'une Organisation et son Wingzy.</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Collègues</h2>
        <p>sont les personnes physiques qui utilisent le Wingzy de votre Organisation. Pour cela, elles doivent soit posséder un email avec un domaine autorisé par votre Organisation, ou être invitées.</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>La CNIL</h2>
        <p>ou Commission nationale de l'informatique et des libertés, est là pour vous informer et vous protéger. En cas de besoin, ou de problème, rendez-vous sur leur site (très complet!) <a href="https://www.cnil.fr/">cnil.fr</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Les Dodos de profil</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos d'identité et de contact</h2>
        <p>Vos photo, nom complet, votre rôle dans l'Organisation et vos information de contact&nbsp;: emails, téléphones, adresses, réseaux sociaux...</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos caractéristiques</h2>
        <p>Vos Wings&nbsp;: compétences, passions, engagements, intérêts... et tout autre information que vous partagez, comme dans la zone "à propos".</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h2>D'où viennent vos Dodos de profil&nbsp;?</h2>
        <p><strong>Vous</strong> remplissez vos Dodos de profil comme bon vous semble. C'est plutôt malin, puisque c'est exactement pour ça qu'on a construit Wingzy, comme expliqué dans  <a href="/terms">nos conditions d'utilisation</a>.</p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation</strong> peuvent vous proposer des Dodos de profil. Bien sûr, vous pouvez modifier ou supprimer ces Dodos à tout moment.</p>
        <p><strong>Certains Services Tiers</strong> comme <a href="https://www.fullcontact.com/">Fullcontact</a>, <a href="https://www.linkedin.com/">LinkedIn</a>, <a href="https://twitter.com/">Twitter</a>, <a href="https://www.facebook.com/">Facebook</a>, <a href="https://plus.google.com/">Google Plus</a>, peuvent aussi être utilisés pour vous proposer des Dodos de Profil.</p>
      </div>
      <div class="grid-box">
        <h2>Où vont ces Dodos de profil&nbsp;?</h2>
        <p><strong>Vous</strong> accédez à TOUTES vos Dodos de profil à tout moment sur nos Apps et APIs.</p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation </strong> accèdent à vos Dodos de profil de la même manière. C'est ça la raison d'être de Wingzy, comme expliqué dans  <a href="/terms">nos conditions d'utilisation</a>.</p>
        <p><strong>Nous</strong> utilisons vos Dodos de profil pour fabriquer, une fois par mois, un email d'information sur mesure à propos de Wingzy et votre Organisation uniquement. <a class="right">Désactiver l'email mensuel</a></p>
        <p><strong>Nous</strong> accédons aussi vos Dodos pour répondre à vos demandes de support et pour assurer, modérer et améliorer Wingzy.</p>
      </div>
      <div class="grid-box">
        <h2>Comment elles y vont&nbsp;?</h2>
        <p>Wingzy utilise plusieurs services tiers qui hébergent vos Dodos dans l'Union Européene&nbsp;: <a href="https://www.heroku.com/">Heroku</a>, <a href="https://www.algolia.com/">Algolia</a>, <a href="https://www.mailjet.com/">Mailjet</a>, <a href="https://www.mlab.com/">mLab</a>, <a href="https://uploadcare.com/">UploadCare</a>.</p>
        <p>Wingzy utilise la technologie de cryptage SSL pour sécuriser vos Dodos de profil lorsqu'elles voyagent sur Internet.</p>
        <p>Sur nos Serveurs, comme sur les appareils des utilisateurs ayant accès à votre Wingzy, vos Dodos de profil ne sont pas cryptées.</p>
        <p><strong>Nous</strong> vous demandons donc ne pas partager sur Wingzy des Dodos sensibles, privées, menaçante ou dangereuses pour vous ou qui que ce soit.</p>
      </div>
      <div class="grid-box">
        <h2>Quels sont vos Droits&nbsp;?</h2>
        <p>Sur Wingzy, comme PARTOUT, vous avez les droits suivants.</p>
        <p> <a class="right">Consultez vos Dodos de Profil</a> <a class="right">Modifiez vos Dodos de Profil</a> <a class="right">Exportez vos Dodos de Profil</a> <a class="right">Suspendre l'utilisation de vos Dodos de Profil</a> <a class="right">Supprimer vos Dodos de Profil</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Les Dodos Techniques</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos d'identité et de contact</h2>
        <p>Votre photo, nom complet, votre rôle dans l'Organisation et vos information de contact&nbsp;: emails, téléphones, adresses, réseaux sociaux.</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos caractéristiques</h2>
        <p>Vos Wings&nbsp;: compétences, passions, savoir-faire, intérêts... et tout autre information que vous partagez, comme dans la zone "à propos".</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h2>D'où viennent ces Dodos&nbsp;?</h2>
        <p><strong>Vous</strong> remplissez les Dodos de votre profil comme vous le sentez sur Wingzy. C'est assez malin, puisque c'est exactement à ça que sert Wingzy, comme expliqué dans le Contrat d'utilisation. <a class="right">Modifiez vos Dodos</a></p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation</strong> peuvent vous proposer des Dodos. Bien sûr, vous pouvez modifier ou supprimer ces Dodos à tout moment.</p>
        <p><strong>Certains Services</strong> comme LinkedIn, Fullcontact, Twitter, ou Google, peuvent aussi être utilisés pour vous proposer des Dodos.</p>
      </div>
      <div class="grid-box">
        <h2>Où vont ces Dodos&nbsp;?</h2>
        <p><strong>Vous</strong> accédez à TOUTES vos Dodos de profil à tout moment. <a class="right">Consultez vos Dodos</a> <a class="right">Exportez vos Dodos</a></p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation </strong> accèdent à vos Dodos sur les apps et API Wingzy. C'est ça la raison d'être de Wingzy, c'est dans le Contrat d'utilisation.</p>
        <p><strong>Nous</strong> consultons vos Dodos pour fabriquer, une fois par mois, un email sur mesure d'information à propos de Wingzy et votre Organisation. <a class="right">Désactiver l'email mensuel</a></p>
        <p><strong>Nous</strong> consultons aussi vos Dodos pour répondre à vos demandes de support et pour assurer, modérer et améliorer Wingzy.</p>
      </div>
      <div class="grid-box">
      <h2>Comment elles y vont&nbsp;?</h2>
        <p>Wingzy utilise la technologie de cryptage SSL pour sécuriser vos Dodos lorsqu'elles voyagent.</p>
        <p>Sur nos Serveurs, comme sur les appareils des utilisateurs, les Dodos ne sont pas cryptées.</p>
        <p>Wingzy utilise plusieurs services tiers qui hébergent vos Dodos dans l'Union Européene&nbsp;: <a href="https://www.heroku.com/">Heroku</a>, <a href="https://www.algolia.com/">Algolia</a>, <a href="https://www.mailjet.com/">Mailjet</a>, <a href="https://www.mlab.com/">mLab</a>, <a href="https://uploadcare.com/">UploadCare</a>.</p>
        <p><strong>Nous</strong> consultons aussi vos Dodos pour répondre à vos demandes de support et pour assurer, modérer et améliorer Wingzy.</p>
      </div>
    </div>
  </div>
</div>
