<div class="main">
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Protégeons vos Dodos&nbsp;!</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <p>Qu'est-ce que vous faites là&nbsp;? Vous prenez le temps de lire un document légal&nbsp;? In·croi·yable&nbsp;!</p>
        <p>Si c'est comme ça, on va tout faire pour vous donner le plein pouvoir sur vos Dodos&nbsp;: vos données à caractère personnel (Dodos c'est quand même plus mignon).</p>
        <p>Voici donc notre charte de protection des Dodos officielle et légale, mais aussi claire et légère&nbsp;: pour que vous comprenniez simplement comment nous traitons vos Dodos et les droits fondamentaux que vous avez dessus.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vous</h2>
        <p>êtes une personne physique (même si vous faites rarement du sport), avez plus de 16 ans, utilisez un ou plusieurs Wingzy et avez donc accepté <a href="/terms">nos conditions d'utilisation</a>, c'est o·bli·ga·toire&nbsp;!</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <img class="pure-img" src="/wingzy_256.png">
        <h2>Nous</h2>
        <p>fabriquons Wingzy avec amour et sommes donc responsables du traitement de vos données.</p>
        <p>
          <strong>Wingzy SAS</strong><br>
          Société en cours d'immatriculation<br>
          21 rue de Cléry - 75002 - Paris<br>
          <a href="mailto:support@wingzy.io">support@wingzy.io</a> (on vous répond sous 1 semaine)<br>
        </p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Votre Organisation</h2>
        <p>C'est un groupe de personnes, dont vous faites parti, qui utilisent le Wingzy de l'Organisation pour partager ce qu'ils savent et aiment faire.</p>
        <p>Votre organisation c'est peut-être juste un groupe de potes, ou c'est peut-être une personne morale comme une asso ou une entreprise.</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Collègues</h2>
        <p>sont les personnes physiques qui utilisent le Wingzy de votre Organisation. Pour cela, elles doivent soit posséder un compte autorisé par l'Organisation, ou être invitées.</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>La CNIL</h2>
        <p>ou Commission nationale de l'informatique et des libertés, est là pour vous informer et vous protéger. En cas de besoin, ou de problème, rendez-vous sur leur site (il est super&nbsp;!) <a href="https://www.cnil.fr/">cnil.fr</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <p>Chaque Organisation a son Wingzy imperméable et indépendant, vous avez donc peut-être plusieurs Wingzy avec des Collègues différents et des Dodos de Profils différents. Ici on ne parle que du Wingzy d'une Organisation, c'est plus simple.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Les Dodos de Profil</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos d'identité et de contact</h2>
        <p>Vos photos, votre nom complet, votre rôle dans l'Organisation et vos information de contact&nbsp;: emails, téléphones, adresses, réseaux sociaux...</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos caractéristiques</h2>
        <p>Vos Wings&nbsp;: compétences, passions, engagements, intérêts... et tout autre information que vous partagez, comme dans la zone "à propos".</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h2>D'où viennent vos Dodos de Profil&nbsp;?</h2>
        <p><strong>Vous</strong> remplissez vos Dodos de Profil comme bon vous semble. C'est exactement pour ça qu'on a construit Wingzy, comme expliqué dans  <a href="/terms">nos conditions d'utilisation</a>.</p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation</strong> peuvent vous proposer des Dodos de Profil. Bien sûr, vous pouvez modifier ou supprimer ces Dodos à tout moment.</p>
        <p><strong>Certains Services Tiers</strong> comme <a href="https://www.fullcontact.com/">Fullcontact</a>, <a href="https://www.linkedin.com/">LinkedIn</a>, <a href="https://twitter.com/">Twitter</a>, <a href="https://www.facebook.com/">Facebook</a> ou <a href="https://plus.google.com/">Google Plus</a>, connectés ou non à Wingzy, peuvent aussi être utilisés pour vous proposer des Dodos de Profil.</p>
      </div>
      <div class="grid-box">
        <h2>Où vont vos Dodos de Profil&nbsp;?</h2>
        <p><strong>Vous</strong> accédez à TOUTES vos Dodos de Profil à tout moment sur nos Apps et APIs.</p>
        <p><strong>Vos Collègues</strong> et <strong>votre Organisation </strong> accèdent à vos Dodos de Profil de la même manière. C'est ça la raison d'être de Wingzy, comme expliqué dans  <a href="/terms">nos conditions d'utilisation</a>.</p>
        <p><strong>Si</strong> votre Wingzy est publique (c'est très rare, si c'est le cas, vous devez le savoir), le monde entier accède aussi à vos Dodos de Profil.</p>
        <p><strong>Nous</strong> utilisons vos Dodos de Profil pour fabriquer, une fois par mois, un email d'information sur mesure à propos de Wingzy et votre Organisation. <a class="right">Désactiver l'email mensuel</a></p>
        <p><strong>Nous</strong> accédons aussi à vos Dodos de Profil pour répondre à vos demandes de support et pour modérer, protéger et améliorer Wingzy.</p>
      </div>
      <div class="grid-box">
        <h2>Comment y vont-elles&nbsp;?</h2>
        <p>Wingzy utilise plusieurs services tiers qui hébergent vos Dodos dans l'Union Européene&nbsp;: <a href="https://www.heroku.com/">Heroku</a>, <a href="https://www.algolia.com/">Algolia</a>, <a href="https://www.mailjet.com/">Mailjet</a>, <a href="https://www.mlab.com/">mLab</a>, <a href="https://uploadcare.com/">UploadCare</a>.</p>
        <p>Wingzy utilise la technologie de cryptage SSL pour sécuriser vos Dodos de Profil lorsqu'elles voyagent sur Internet.</p>
        <p>Sur nos Serveurs, comme sur les appareils des utilisateurs ayant accès à votre Wingzy, vos Dodos de Profil ne sont pas cryptées.</p>
        <p><strong>Nous</strong> vous demandons donc ne pas partager sur Wingzy des Dodos sensibles, privées, menaçante ou dangereuses pour vous ou qui que ce soit.</p>
      </div>
      <div class="grid-box">
        <h2>Quels sont vos Droits&nbsp;?</h2>
        <p>Sur Wingzy, comme PARTOUT, vous avez les droits suivants.</p>
        <p> <a class="right">Consultez vos Dodos de Profil</a> <a class="right">Modifiez vos Dodos de Profil</a> <a class="right">Exportez vos Dodos de Profil</a> <a class="right">Suspendre l'utilisation de vos Dodos de Profil</a> <a class="right">Supprimer vos Dodos de Profil</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h1 class="align-center">Les Dodos Techniques</h1>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos d'authentification</h2>
        <p>Vos identifiants de comptes pour vos services connectés à Wingzy (email, google, linkedin, facebook...), votre IP, votre localisation, vos navigateurs, systèmes d'exploitation et appareils.</p>
        <p><strong>Nous</strong> utilisons un Cookie d'authentification placé dans vos appareils pour vous reconnaitre et ainsi sécuriser votre utilisation.</p>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
        <h2>Vos Dodos de Suivi</h2>
        <p>Vos actions sur Wingzy sont toutes enregistrées de façon anonyme : nous ne savons pas que c'est vous.</p>
        <p><strong>Nous</strong> utilisons un Cookie de suivi placé dans vos appareils pour vous reconnaitre et ainsi suivre votre utilisation.</p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1">
      <div class="grid-box">
        <h2>D'où viennent vos Dodos&nbsp;?</h2>
        <p><strong>Nous</strong> demandons vos Dodos Techniques à vos appareils, ou à vos services connectés.</p>
      </div>
      <div class="grid-box">
        <h2>Où vont vos Dodos&nbsp;?</h2>
        <p><strong>Nous</strong> accédons uniquement à vos Dodos Techniques pour répondre à vos demandes de support et pour modérer, protéger et améliorer Wingzy.</p>
      </div>
      <div class="grid-box">
        <h2>Comment y vont-elles&nbsp;?</h2>
        <p><strong>Nous</strong> utilisons la technologie de cryptage SSL pour sécuriser vos Dodos Techniques lorsqu'elles voyagent sur Internet.</p>
        <p>Sur nos Serveurs vos Dodos Techniques ne sont pas cryptées.</p>
        <p>Wingzy utilise plusieurs services tiers qui hébergent vos Dodos Techniques dans l'Union Européene&nbsp;: <a href="https://www.heroku.com/">Heroku</a>, <a href="https://www.mlab.com/">mLab</a>, <a href="https://papertrailapp.com/">PaperTrail</a>, <a href="https://www.algolia.com/">Algolia</a> et <a href="https://analytics.google.com/">Google Analytics</a>.</p>
      </div>
      <div class="grid-box">
        <h2>Quels sont vos Droits&nbsp;?</h2>
        <p>Sur Wingzy, comme PARTOUT, vous avez les droits suivants.</p>
        <p> <a class="right">Consultez vos Dodos Techniques</a> <a class="right">Modifiez vos Dodos Techniques</a> <a class="right">Exportez vos Dodos Techniques</a> <a class="right">Suspendre l'utilisation de vos Dodos Techniques</a> <a class="right">Supprimer vos Dodos Techniques</a></p>
      </div>
    </div>
  </div>
  <div class="pure-g">
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <div class="placeholder"></div>
      </div>
    </div>
    <div class="pure-u-1-1 pure-u-md-1-2">
      <div class="grid-box">
        <p>Merci d'avoir pris le temps de lire notre charte de protection des Dodos. <a href="mailto:support@wingzy.io">Contactez-nous</a> si vous avez des questions, demandes ou remarques, on est là pour ça !</p>
        <p>Cette page est <a title="CC BY-SA 4.0" href="https://creativecommons.org/licenses/by-sa/4.0/deed.fr">open source</a> ! N'hésitez pas à partager et réutiliser notre travail pour protéger les Dodos bien au-delà de Wingzy...</p>
      </div>
    </div>
  </div>
</div>
