{{!
@Author: Clément Dietschy <bedhed>
@Date:   19-07-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 19-07-2017 07:31
@Copyright: Clément Dietschy 2017
}}
<div class="retry main">
  <div class="banner">
  </div>
  <div class="signin pure-g">
    <div class="pure-u-1">
      {{> home_form}}
    </div>
  </div>
</div>
