{{!
@Author: Clément Dietschy <bedhed>
@Date:   25-09-2017
@Email:  clement@lenom.io
@Project: Lenom - Backflip
@Last modified by:   clement
@Last modified time: 25-09-2017 06:23
@Copyright: Clément Dietschy 2017
}}
<div class="login main">
  <div class="banner">
  </div>
  <div class="pure-g">
    <div class="pure-u-1">
      <h2>{{__ "Sign in"}}</h2>
      {{> signin_form}}
      <p class="align-center"><small>{{{__ "To create a new account, this form works too!"}}}</small></p>
    </div>
  </div>
</div>
